In [1]:
!pip install plotly

import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import os

# Set a clean, modern default theme for all our plots
pio.templates.default = "plotly_white"

print("Libraries imported successfully.")

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (6.4.0)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (2.12.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (25.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Libraries imported successfully.

## Import the Data (CVs Sent, 1st interview, Placements, Rejected)

### CVs Sent

In [2]:
# CV Sent dataset
cv_sents = pd.read_csv('CVs Sent (Last 90 Days).csv')

# First 5 rows
display(cv_sents.head())

,"﻿""Job ID""",Job Owner,Created Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Time to Send,CV Sent ID
0,196,Brad Houston,24/09/2025,Max Hogarth,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Nik Lulla,LinkedIn Recruiter Inmail,399,4467
1,196,Brad Houston,02/10/2025,Max Hogarth,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Michael Canfield,Bullhorn,407,4590
2,196,Brad Houston,05/10/2025,Brad Houston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Hassan Makiya,LinkedIn Job Advert,410,4609
3,196,Brad Houston,09/10/2025,Max Hogarth,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,DEREK ORGERON,LinkedIn Recruiter Inmail,414,4667
4,196,Brad Houston,14/10/2025,Harry Thornton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,STONE GODI,Referral,419,4718

### 1st interviews

In [3]:
# Interviews dataset
first_interviews = pd.read_csv('1st Interviews (Last 90 Days).csv')

# First 5 rows
display(first_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,18/09/2025,23/09/2025,James Cato,US,CodeRabbit,AE West,Hot,Fred Stahl,NaN,Contingent,1st Interview,1st Interview,Bullhorn,James Cato,587,17538
1,18/09/2025,18/09/2025,James Cato,US,CodeRabbit,Commercial AE x5 Bay Area,Hot,Ryan Manseau,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,James Cato,687,17539
2,18/09/2025,18/09/2025,James Cato,US,CodeRabbit,Commercial AE x5 Bay Area,Hot,Ryan Manseau,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,James Cato,687,17541
3,18/09/2025,18/09/2025,Monie Rogers,EMEA,Dash0,Commercial AE NYC,Hot,Emisael Lopez,NaN,Contingent,1st Interview,1st Interview,LinkedIn Message,Joe Marron,617,17513
4,18/09/2025,23/09/2025,Harry Thornton,EMEA,PointFive,VP EMEA,Hot,Rodrigo DeCossio,NaN,Contingent,1st Interview,1st Interview,Referral,James Whipp,677,17517

### 2nd interviews

In [4]:
# 2nd interviews dataset
second_interviews = pd.read_csv('2nd Interviews (Last 90 Days).csv')

# First 5 rows
display(second_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,19/09/2025,25/09/2025,Nick Chaplin,EMEA,Dash0,Enterprise AE Germany,Hot,Thomas Huber,NaN,Contingent,Further Interview,2nd Interview,Email & Text follow up,Joe Marron,616,17542
1,19/09/2025,19/09/2025,Ada Sitnik,EMEA,Legion Security,Sales Engineer (US),NaN,Megan Zhou,NaN,Committed Spend,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,James Whipp,580,17545
2,19/09/2025,19/09/2025,Ada Sitnik,EMEA,Legion Security,Sales Engineer (US),NaN,Thomas Keck,NaN,Committed Spend,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,James Whipp,580,17546
3,19/09/2025,08/09/2025,Joe Marron,EMEA,Honeycomb,Senior SDR (German Speaker),Hot,Gwen Wons,Matt Nelson,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Joe Marron,654,17551
4,19/09/2025,18/09/2025,Joe Marron,EMEA,Honeycomb,Strategic AE UK,Hot,Simon Price,Matt Nelson,Contingent,Further Interview,2nd Interview,Bullhorn,Joe Marron,653,17550

### 3rd interviews

In [5]:
# Interviews dataset
third_interviews = pd.read_csv('3rd Interviews (Last 90 Days).csv')

# First 5 rows
display(third_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,19/09/2025,10/09/2025,Joe Marron,EMEA,Honeycomb,Senior SDR (German Speaker),Hot,Gwen Wons,Matt Nelson,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,Joe Marron,654,17552
1,19/09/2025,19/09/2025,Monie Rogers,EMEA,CodeRabbit,AE East,Hot,Jack King,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,James Cato,588,17555
2,21/09/2025,18/09/2025,Jordan Goodenough,EMEA,Oasis Security,Enterprise Account Executive (NYC Metro P1),Hot,Matt Tower,Nick Oberhuber,Contingent,Further Interview,3rd Interview,Bullhorn,Harry Thornton,180,17601
3,21/09/2025,19/09/2025,Jordan Goodenough,EMEA,UnifyApps,UnifyApps - Solutions Architect,Hot,Waseem Bhatti,Colin Callahan,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,Jordan Goodenough,668,17599
4,21/09/2025,24/09/2025,Jordan Goodenough,EMEA,Cognition AI,Enterprise Account Executive (US),NaN,Chris Jensen,David Morse,Contingent,Further Interview,3rd Interview,Bullhorn,Annalisa Girgenti,484,17603

### 4th interviews

In [6]:
# Interviews dataset
fourth_interviews = pd.read_csv('4th Interviews (Last 90 Days).csv')

# First 5 rows
display(fourth_interviews.tail())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
128,15/12/2025,12/12/2025,Ben Clifton,EMEA,Blockaid,SDR (Singapore),Hot,Dinie Mifdhal,NaN,Contingent,Further Interview,4th Interview,Email & Text follow up,Brad Houston,757,20355
129,15/12/2025,17/12/2025,Weronika Nazarko,EMEA,Blink Ops,Sales Engineer UK,Hot,Adam Evans,Aaron Beveridge,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Brad Houston,663,20358
130,15/12/2025,16/12/2025,Nick Chaplin,EMEA,Energy Robotics,SDR Dubai,Hot,Jad Akel,NaN,Contingent,Further Interview,4th Interview,Sales Robot,Annalisa Girgenti,778,20375
131,16/12/2025,16/12/2025,James Cato,US,Redwood Software,Enterprise AE US (Finance Automation),Hot,David McDonald,NaN,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,James Cato,795,20391
132,16/12/2025,16/12/2025,Nick Chaplin,EMEA,Energy Robotics,SDR Dubai,Hot,Jad Akel,NaN,Contingent,Further Interview,4th Interview,Sales Robot,Annalisa Girgenti,778,20394

### Rejected Candidates

In [7]:
# Rejects dataset
rejects = pd.read_csv('Rejected Candidates (Last 90 Days).csv')

rejects.rename(columns={'﻿"Job ID"' : 'Job ID'}, inplace=True)

rejects = rejects[['Job ID', 'Candidate']]

# First 5 rows
display(rejects.head())

   Job ID       Candidate
0     110    Mark Ghannam
1     110  Matthias Funke
2     110       Dan Croft
3     110   Vyas Adhikari
4     110       Miguel L.

### Offers

In [8]:
# Offers dataset
offers = pd.read_csv('Offers (Last 90 Days).csv')

offers = offers[['Job ID', 'Candidate']]

# Last 5 rows
display(offers.tail())

    Job ID         Candidate
62     656  Ryan Finkelstein
63     751      Tiffany Cole
64     777       Itai Heller
65     776      Daniel Smith
66     428       Caitlin Ray

## Re-structure the data, changing their fields

In [9]:
# Rename the Kpi Date columns to CV Sent Date, change that to datetime type
cv_sents.rename(columns={'Created Date' : 'CV Sent Date', '﻿"Job ID"' : 'Job ID'}, inplace=True)

# Change the CV Sent Date to datetime type
cv_sents['CV Sent Date'] = pd.to_datetime(cv_sents['CV Sent Date'], format='%d/%m/%Y')
cv_sents = cv_sents[['Job ID', 'Owner', 'Company', 'Job Title', 'CV Sent Date', 'Candidate']]

# Display the new dataset
cv_sents.head()

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate
0,196,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),2025-09-24,Nik Lulla
1,196,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),2025-10-02,Michael Canfield
2,196,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),2025-10-05,Hassan Makiya
3,196,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),2025-10-09,DEREK ORGERON
4,196,Harry Thornton,Blockaid,Enterprise Account Executive (Fintech),2025-10-14,STONE GODI

In [10]:
# Rename the Kpi Date columns to Interview Date, change that to datetime type
first_interviews.rename(columns={'Interview Date' : '1st_Interview Date'}, inplace=True)
second_interviews.rename(columns={'Interview Date' : '2nd_Interview Date'}, inplace=True)
third_interviews.rename(columns={'Interview Date' : '3rd_Interview Date'}, inplace=True)
fourth_interviews.rename(columns={'Interview Date' : '4th_Interview Date'}, inplace=True)

# Change the Create Date to datetime type
first_interviews['1st_Interview Date'] = pd.to_datetime(first_interviews['1st_Interview Date'], format='%d/%m/%Y')
first_interviews = first_interviews[['Job ID', '1st_Interview Date', 'Candidate']]

second_interviews['2nd_Interview Date'] = pd.to_datetime(second_interviews['2nd_Interview Date'], format='%d/%m/%Y')
second_interviews = second_interviews[['Job ID', '2nd_Interview Date', 'Candidate']]

third_interviews['3rd_Interview Date'] = pd.to_datetime(third_interviews['3rd_Interview Date'], format='%d/%m/%Y')
third_interviews = third_interviews[['Job ID', '3rd_Interview Date', 'Candidate']]

fourth_interviews['4th_Interview Date'] = pd.to_datetime(fourth_interviews['4th_Interview Date'], format='%d/%m/%Y')
fourth_interviews = fourth_interviews[['Job ID', '4th_Interview Date','Candidate']]

## Create a few helper columns to get the status of CVs Sent to Clients

In [11]:
# Apply helper columns to get the status of CVs
first_interviews['Interview_1st'] = True
second_interviews['Interview_2nd'] = True
third_interviews['Interview_3rd'] = True
fourth_interviews['Interview_4th'] = True
offers['Offer'] = True
rejects['Rejected'] = True

In [12]:
first_interviews.head()

   Job ID 1st_Interview Date         Candidate  Interview_1st
0     587         2025-09-23        Fred Stahl           True
1     687         2025-09-18      Ryan Manseau           True
2     687         2025-09-18      Ryan Manseau           True
3     617         2025-09-18     Emisael Lopez           True
4     677         2025-09-23  Rodrigo DeCossio           True

### Merge the CV records with the interviews

In [13]:
# Merge the CV record with the 1st interview record
merged_cv_sent_status = cv_sents.merge(
    first_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the 2nd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    second_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the 3rd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    third_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the 4th interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    fourth_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the offers record
merged_cv_sent_status = merged_cv_sent_status.merge(
    offers,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the rejected record
merged_cv_sent_status = merged_cv_sent_status.merge(
    rejects,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Print the final list
display(merged_cv_sent_status)

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected
0,110,NaN,NaN,NaN,NaT,Ali Sezer,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
1,110,NaN,NaN,NaN,NaT,Dan Croft,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
2,110,NaN,NaN,NaN,NaT,Mark Ghannam,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
3,110,NaN,NaN,NaN,NaT,Matthias Funke,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
4,110,NaN,NaN,NaN,NaT,Miguel L.,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1557,855,Gabriel Inema,Laurel,Customer Success Manager New York,2025-12-15,Anouska Khimasia,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1558,857,Brad Houston,Adaptive6,Sales Engineer (Israel),2025-12-10,Barak Abekasis,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1559,857,Brad Houston,Adaptive6,Sales Engineer (Israel),2025-12-10,Nathan Hart,2025-12-12,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1560,857,Brad Houston,Adaptive6,Sales Engineer (Israel),2025-12-11,Rotem Froimovici,2025-12-15,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1561,858,Joe Marron,Rox,SDR SF,2025-12-11,Victor Ermolin,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN

In [14]:
merged_cv_sent_status.head()

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected
0,110,NaN,NaN,NaN,NaT,Ali Sezer,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
1,110,NaN,NaN,NaN,NaT,Dan Croft,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
2,110,NaN,NaN,NaN,NaT,Mark Ghannam,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
3,110,NaN,NaN,NaN,NaT,Matthias Funke,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
4,110,NaN,NaN,NaN,NaT,Miguel L.,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True

### Change the status of the candidates

In [15]:
def determine_status(row):
    # 1. Highest Priority: Is it Rejected?
    if row['Rejected'] == True:
        return 'Rejected'
    
    # 2. Next Priority: Is there an Offer?
    elif row['Offer'] == True:
        return 'Offer'
    
    # 3. Check Interview Stages (Backwards from latest)
    elif row['Interview_4th'] == True:
        return '4th Interview'
    elif row['Interview_3rd'] == True:
        return '3rd Interview'
    elif row['Interview_2nd'] == True:
        return '2nd Interview'
    elif row['Interview_1st'] == True:
        return '1st Interview'
    
    # 4. Default
    else:
        return 'CV Sent'

# Apply it to the DataFrame
merged_cv_sent_status['Status'] = merged_cv_sent_status.apply(determine_status, axis=1)

display(merged_cv_sent_status)

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected,Status
0,110,NaN,NaN,NaN,NaT,Ali Sezer,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
1,110,NaN,NaN,NaN,NaT,Dan Croft,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
2,110,NaN,NaN,NaN,NaT,Mark Ghannam,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
3,110,NaN,NaN,NaN,NaT,Matthias Funke,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
4,110,NaN,NaN,NaN,NaT,Miguel L.,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1557,855,Gabriel Inema,Laurel,Customer Success Manager New York,2025-12-15,Anouska Khimasia,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
1558,857,Brad Houston,Adaptive6,Sales Engineer (Israel),2025-12-10,Barak Abekasis,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
1559,857,Brad Houston,Adaptive6,Sales Engineer (Israel),2025-12-10,Nathan Hart,2025-12-12,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
1560,857,Brad Houston,Adaptive6,Sales Engineer (Israel),2025-12-11,Rotem Froimovici,2025-12-15,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
1561,858,Joe Marron,Rox,SDR SF,2025-12-11,Victor Ermolin,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent

### Add the column of Action Date - Interview/CV Sent Date

In [16]:
def get_action_date(row):
    status = row['Status']
    
    # Map status to the corresponding column name
    if status == 'CV Sent':
        return row['CV Sent Date']
    elif status == '1st Interview':
        return row['1st_Interview Date']
    elif status == '2nd Interview':
        return row['2nd_Interview Date']
    elif status == '3rd Interview':
        return row['3rd_Interview Date']
    elif status == '4th Interview':
        return row['4th_Interview Date']
    else:
        return pd.NaT # Return "Not a Time" for unknown statuses

# --- Apply the Function ---
merged_cv_sent_status['Action Date'] = merged_cv_sent_status.apply(get_action_date, axis=1)

In [17]:
# Drop the N/A rows in the status
merged_cv_sent_status = merged_cv_sent_status[(merged_cv_sent_status.Status != 'N/A') & (merged_cv_sent_status.Status != 'Rejected') & (merged_cv_sent_status.Status != 'Offer')]

merged_cv_sent_status['Status'].value_counts()

Status
1st Interview    118
CV Sent           88
2nd Interview     59
4th Interview     33
3rd Interview     32
Name: count, dtype: int64

In [18]:
# Drop the support columns
merged_cv_sent_status = merged_cv_sent_status.drop(columns = ['Interview_1st', 'Interview_2nd', 'Interview_3rd', 'Interview_4th', 'Rejected', 'Offer', 
                                                              '1st_Interview Date', '2nd_Interview Date', '3rd_Interview Date', '4th_Interview Date'])

In [19]:
display(merged_cv_sent_status)

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,Status,Action Date
12,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-12-16,Connor Yakushi,CV Sent,2025-12-16
15,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-11-10,Dennis Coombs,3rd Interview,2025-12-16
20,196,Samson Abodunrin,Blockaid,Enterprise Account Executive (Fintech),2025-12-05,Jason Fulwood,CV Sent,2025-12-05
22,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-11-04,Madyson Almeida,2nd Interview,2025-12-03
24,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-11-26,Mike Gomez,1st Interview,2025-12-01
...,...,...,...,...,...,...,...,...
1557,855,Gabriel Inema,Laurel,Customer Success Manager New York,2025-12-15,Anouska Khimasia,CV Sent,2025-12-15
1558,857,Brad Houston,Adaptive6,Sales Engineer (Israel),2025-12-10,Barak Abekasis,CV Sent,2025-12-10
1559,857,Brad Houston,Adaptive6,Sales Engineer (Israel),2025-12-10,Nathan Hart,1st Interview,2025-12-12
1560,857,Brad Houston,Adaptive6,Sales Engineer (Israel),2025-12-11,Rotem Froimovici,1st Interview,2025-12-15
1561,858,Joe Marron,Rox,SDR SF,2025-12-11,Victor Ermolin,CV Sent,2025-12-11

## Export the in-play candidates for the recruiters

In [20]:
owners_list = merged_cv_sent_status['Owner'].dropna().unique()

merged_cv_sent_status['Action Date'].dt.floor('d')

# Create a folder to keep things organised
output_folder = 'Consultant_Active_Reports'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [21]:
for owner in owners_list:
    # 1. Filter for this specific owner
    owner_data = merged_cv_sent_status[merged_cv_sent_status['Owner'] == owner].copy()
    
    # 2. Sort by Job ID (Ascending)
    owner_data = owner_data.sort_values(by='Job ID', ascending=True)
    
    # 3. Select clean columns for the consultant
    export_cols = ['Job ID', 'Company', 'Job Title', 'Candidate', 'Status']
    final_export = owner_data[export_cols]
    
    # 4. Define Filename (Clean the name to avoid file errors)
    clean_owner_name = str(owner).replace(" ", "_").replace("/", "-")
    filename = f"{output_folder}/Active_Candidates_{clean_owner_name}.csv"
    
    # 5. Export to csv
    final_export.to_csv(filename, index=False)
    
    print(f"Exported: {filename} ({len(final_export)} candidates)")

print("\n--- ALL EXPORTS COMPLETE ---")

Exported: Consultant_Active_Reports/Active_Candidates_Ben_Clifton.csv (27 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Samson_Abodunrin.csv (29 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Brad_Houston.csv (32 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Max_Hogarth.csv (23 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Jordan_Goodenough.csv (20 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Joe_Marron.csv (27 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ada_Sitnik.csv (13 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Weronika_Nazarko.csv (20 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Georgia_Price.csv (6 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Gabriel_Inema.csv (13 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Lilly_Tyler.csv (9 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Monie_Rogers.csv (11 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Nick_Chaplin.csv (12 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Sam_Rudston.csv (24 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Whipp.csv (17 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Harry_Thornton.csv (7 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Cato.csv (22 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Charlotte_Wells.csv (5 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Connor_Cook.csv (6 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Annalisa_Girgenti.csv (2 candidates)

--- ALL EXPORTS COMPLETE ---