In [1]:
!pip install plotly

import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import os

# Set a clean, modern default theme for all our plots
pio.templates.default = "plotly_white"

print("Libraries imported successfully.")

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (6.4.0)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (2.12.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (25.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Libraries imported successfully.

## Import the Data (CVs Sent, 1st interview, Placements, Rejected)

### CVs Sent

In [3]:
# CV Sent dataset
cv_sents = pd.read_csv('CVs Sent (Last 30 Days).csv')

# First 5 rows
display(cv_sents.head())

,"﻿""Job ID""",Job Owner,Created Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Time to Send,CV Sent ID
0,196,Brad Houston,10/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Dennis Coombs,LinkedIn Recruiter Inmail,446,5106
1,196,Brad Houston,19/11/2025,Brad Houston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Brendan McMenimen,LinkedIn Recruiter Inmail,455,5230
2,196,Brad Houston,26/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Mike Gomez,Cold Call via Signalhire,462,5342
3,196,Brad Houston,26/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Erik Gallant,Email & Text follow up,462,5376
4,196,Brad Houston,03/12/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Brandon Hood,Sales Robot,469,5432

### 1st interviews

In [4]:
# Interviews dataset
first_interviews = pd.read_csv('1st Interviews (Last 30 Days).csv')

# First 5 rows
display(first_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,06/11/2025,06/11/2025,James Cato,US,Loop,Delivery Transformation Lead (strat implementa...,Hot,Joey Blankemeyer,NaN,Contingent,1st Interview,1st Interview,Sales Robot,James Cato,711,19044
1,06/11/2025,06/11/2025,James Cato,US,Loop,Delivery Transformation Lead (strat implementa...,Hot,ARTUR BROZ,NaN,Contingent,1st Interview,1st Interview,Sales Robot,James Cato,711,19045
2,06/11/2025,06/11/2025,Ada Sitnik,EMEA,Chainguard,RVP SF/PNW,Hot,Alex Biller,NaN,Contingent,1st Interview,1st Interview,Email & Text follow up,Harry Thornton,784,19026
3,06/11/2025,10/11/2025,Sam Rudston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Darrell Van Dyken,NaN,Contingent,1st Interview,1st Interview,LinkedIn Message,Brad Houston,196,19028
4,06/11/2025,12/11/2025,Nick Chaplin,EMEA,Energy Robotics,SDR Houston,Hot,Max Wilson,NaN,Contingent,1st Interview,1st Interview,Sales Robot,Annalisa Girgenti,780,19029

### 2nd interviews

In [5]:
# 2nd interviews dataset
second_interviews = pd.read_csv('2nd Interviews (Last 30 Days).csv')

# First 5 rows
display(second_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,06/11/2025,06/11/2025,Georgia Price,EMEA,Mabl,UK AE,Hot,Junior Ayafor,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Job Advert,James Cato,651,19027
1,07/11/2025,07/11/2025,Weronika Nazarko,EMEA,Redwood Software,SE UK,Hot,Shay Dolan,Nick Totero,Contingent,Further Interview,2nd Interview,LinkedIn Job Advert,James Cato,673,19065
2,07/11/2025,07/11/2025,Samson Abodunrin,EMEA,Antithesis,Enterprise Account Executive,Hot,Ted O'Neill,Hao Guan,Contingent,Further Interview,2nd Interview,Bullhorn,Samson Abodunrin,594,19067
3,07/11/2025,07/11/2025,Samson Abodunrin,EMEA,Antithesis,Enterprise Account Executive,Hot,Steve Muricchio,Hao Guan,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,594,19068
4,07/11/2025,10/11/2025,Ben Clifton,EMEA,Novee.io,Enterprise Account Executive (US),Hot,Vincent Iannacci,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Brad Houston,750,19070

### 3rd interviews

In [6]:
# Interviews dataset
third_interviews = pd.read_csv('3rd Interviews (Last 30 Days).csv')

# First 5 rows
display(third_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,07/11/2025,07/11/2025,Samson Abodunrin,EMEA,Oscilar,BDR Manager - NYC,Hot,MINAS GREGORIADES,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,596,19071
1,07/11/2025,21/11/2025,Jordan Goodenough,EMEA,Cognition AI,Founding EMEA AE,Hot,Rudi Willner,David Morse,Committed Spend,Further Interview,3rd Interview,LinkedIn Message,Harry Thornton,696,19076
2,07/11/2025,11/11/2025,Jordan Goodenough,EMEA,Materialize,CS3 Materialize - Enterprise Account Executive x3,Hot,Michael McGinnis,Nate Stewart,Committed Spend,Further Interview,3rd Interview,LinkedIn Message,PP Committed Spend Store - UK,751,19075
3,07/11/2025,07/11/2025,Ada Sitnik,EMEA,Dash0,Sales Engineer (US) x 3,Hot,Michael Frederick,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,Harry Thornton,708,19079
4,07/11/2025,06/11/2025,Jordan Goodenough,EMEA,Cognition AI,Middle East - Cognition AE's,Hot,Haissam HASSAN,David Morse,Committed Spend,Further Interview,3rd Interview,Referral,Harry Thornton,706,19078

### 4th interviews

In [7]:
# Interviews dataset
fourth_interviews = pd.read_csv('4th Interviews (Last 30 Days).csv')

# First 5 rows
display(fourth_interviews.tail())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
47,04/12/2025,04/12/2025,Samson Abodunrin,EMEA,Oscilar,SE Leader,Hot,Ray Mi,NaN,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,807,20033
48,05/12/2025,04/12/2025,Jordan Goodenough,EMEA,Materialize,CS3 Materialize - Enterprise Account Executive x3,Hot,Tiffany Cole,Nate Stewart,Committed Spend,Further Interview,4th Interview,LinkedIn Message,PP Committed Spend Store - UK,751,20039
49,05/12/2025,11/12/2025,Joe Marron,EMEA,Laurel,Enterprise Account Executive UK x4,Hot,Dionys Gragousian,Emil Dyrvig,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Annalisa Girgenti,813,20054
50,05/12/2025,04/12/2025,Ben Clifton,EMEA,Novee.io,Enterprise Account Executive (US),Hot,Rob Harvey,Ido Geffen,Contingent,Further Interview,4th Interview,Email & Text follow up,Brad Houston,750,20063
51,05/12/2025,08/12/2025,Monie Rogers,EMEA,PointFive,Enterprise AE (EST),Hot,Daniel Smith,NaN,Contingent,Further Interview,4th Interview,LinkedIn Message,James Whipp,776,20066

### Rejected Candidates

In [8]:
# Rejects dataset
rejects = pd.read_csv('Rejected Candidates (Last 30 Days).csv')

rejects.rename(columns={'﻿"Job ID"' : 'Job ID'}, inplace=True)

rejects = rejects[['Job ID', 'Job Title', 'Owner', 'Company', 'Candidate']]

# First 5 rows
display(rejects.head())

# Last 5 rows
display(rejects.tail())

,Job ID,Job Title,Owner,Company,Candidate
0,196,Enterprise Account Executive (Fintech),Max Hogarth,Blockaid,DEREK ORGERON
1,196,Enterprise Account Executive (Fintech),Ben Clifton,Blockaid,Carlos Torres
2,196,Enterprise Account Executive (Fintech),Max Hogarth,Blockaid,Nik Lulla
3,196,Enterprise Account Executive (Fintech),Brad Houston,Blockaid,Hassan Makiya
4,196,Enterprise Account Executive (Fintech),Sam Rudston,Blockaid,Darrell Van Dyken

,Job ID,Job Title,Owner,Company,Candidate
420,815,Enterprise Account Executive UK,Ben Clifton,Conduct AI,Jamie Summers
421,815,Enterprise Account Executive UK,Joe Marron,Conduct AI,Dionys Gragousian
422,817,Senior Sales Engineer (West/Mountain),Brad Houston,Oasis Security,Matthew McKelvey
423,826,VP of Sales,Brad Houston,Legit Security,Jim Underwood
424,833,SDR Manager,Joe Marron,Blockaid,Branden Bilicki

### Offers

In [9]:
# Offers dataset
offers = pd.read_csv('Offers (Last 30 Days).csv')

# First 5 rows
display(offers.head())

# Last 5 rows
display(offers.tail())

,"﻿""Created Date""",Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Job Owner,Job ID,Offer Outcome
0,06/11/2025,Max Hogarth,EMEA,Relyance AI,Enterprise AE - Salt Lake City,Warm,Brandon Jernigan,Bullhorn,Max Hogarth,618,Offer Extended
1,07/11/2025,Ben Clifton,EMEA,Doxel.ai,CS1 Doxel - Regional Sales Director (CST or EST),Hot,Alexander Laursen,Bullhorn,Joe Marron,567,Offer Extended
2,07/11/2025,Ben Clifton,EMEA,Blockaid,CS2 - Blockaid - Enterprise Account Executive ...,NaN,Elliot Dineley,Cold Call via Signalhire,Brad Houston,501,Offer Extended
3,07/11/2025,Joe Marron,EMEA,Rox,ENT AE East,Hot,Clay Tolbert,Bullhorn,James Cato,721,Offer Extended
4,07/11/2025,Brad Houston,EMEA,Oasis Security,TAM (East + Central),Hot,Mike Kramer,Cold Call via Signalhire,Brad Houston,577,Offer Extended

,"﻿""Created Date""",Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Job Owner,Job ID,Offer Outcome
25,28/11/2025,Joe Marron,EMEA,LaunchDarkly,Enterprise Account Executive (Germany),Hot,Moritz Gross,LinkedIn Recruiter Inmail,Harry Thornton,746,Offer Extended
26,28/11/2025,Brad Houston,EMEA,Blockaid,CS2 Blockaid - RevOps Manager (NY),Warm,Kevin Venturino,Cold Call via Signalhire,Brad Houston,683,Offer Extended
27,30/11/2025,Nick Chaplin,EMEA,Energy Robotics,SDR Houston,Hot,Max Wilson,Sales Robot,Annalisa Girgenti,780,Offer Extended
28,01/12/2025,Weronika Nazarko,EMEA,Redwood Software,SE UK,Hot,Nicholas Vlatko,LinkedIn Recruiter Inmail,James Cato,673,Offer Extended
29,03/12/2025,Sam Rudston,EMEA,groundcover,SDR,Hot,Tyler Drago,Cold Call via Signalhire,Joe Marron,765,Offer Extended

## Re-structure the data, changing their fields

In [10]:
# Rename the Kpi Date columns to CV Sent Date, change that to datetime type
cv_sents.rename(columns={'Created Date' : 'CV Sent Date', '﻿"Job ID"' : 'Job ID'}, inplace=True)

# Change the CV Sent Date to datetime type
cv_sents['CV Sent Date'] = pd.to_datetime(cv_sents['CV Sent Date'], format='%d/%m/%Y')
cv_sents = cv_sents[['Job ID', 'CV Sent Date', 'Owner', 'Company', 'Job Title', 'Candidate']]

# Display the new dataset
cv_sents.head()

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate
0,196,2025-11-10,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Dennis Coombs
1,196,2025-11-19,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),Brendan McMenimen
2,196,2025-11-26,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Mike Gomez
3,196,2025-11-26,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Erik Gallant
4,196,2025-12-03,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Brandon Hood

In [11]:
# Rename the Kpi Date columns to Interview Date, change that to datetime type
first_interviews.rename(columns={'Interview Date' : '1st_Interview Date'}, inplace=True)
second_interviews.rename(columns={'Interview Date' : '2nd_Interview Date'}, inplace=True)
third_interviews.rename(columns={'Interview Date' : '3rd_Interview Date'}, inplace=True)
fourth_interviews.rename(columns={'Interview Date' : '4th_Interview Date'}, inplace=True)

# Change the Create Date to datetime type
first_interviews['1st_Interview Date'] = pd.to_datetime(first_interviews['1st_Interview Date'], format='%d/%m/%Y')
first_interviews = first_interviews[['Job ID', 'Job Title', '1st_Interview Date', 'Owner', 'Company', 'Candidate']]

second_interviews['2nd_Interview Date'] = pd.to_datetime(second_interviews['2nd_Interview Date'], format='%d/%m/%Y')
second_interviews = second_interviews[['Job ID', 'Job Title', '2nd_Interview Date', 'Owner', 'Company', 'Candidate']]

third_interviews['3rd_Interview Date'] = pd.to_datetime(third_interviews['3rd_Interview Date'], format='%d/%m/%Y')
third_interviews = third_interviews[['Job ID', 'Job Title', '3rd_Interview Date', 'Owner', 'Company', 'Candidate']]

fourth_interviews['4th_Interview Date'] = pd.to_datetime(fourth_interviews['4th_Interview Date'], format='%d/%m/%Y')
fourth_interviews = fourth_interviews[['Job ID', 'Job Title', '4th_Interview Date', 'Owner', 'Company', 'Candidate']]

In [12]:
# Rename the Kpi Date columns to Offer Date, change that to datetime type
offers.rename(columns={'﻿"Created Date"' : 'Offer Date'}, inplace=True)

# Change the Create Date to datetime type
offers['Placement Date'] = pd.to_datetime(offers['Offer Date'], format='%d/%m/%Y')

# Change the columns for offers
offers = offers[['Job ID', 'Job Title', 'Owner', 'Company', 'Candidate']]

# Display the new dataset
offers.head()

,Job ID,Job Title,Owner,Company,Candidate
0,618,Enterprise AE - Salt Lake City,Max Hogarth,Relyance AI,Brandon Jernigan
1,567,CS1 Doxel - Regional Sales Director (CST or EST),Ben Clifton,Doxel.ai,Alexander Laursen
2,501,CS2 - Blockaid - Enterprise Account Executive ...,Ben Clifton,Blockaid,Elliot Dineley
3,721,ENT AE East,Joe Marron,Rox,Clay Tolbert
4,577,TAM (East + Central),Brad Houston,Oasis Security,Mike Kramer

## Create a few helper columns to get the status of CVs Sent to Clients

In [13]:
# Apply helper columns to get the status of CVs
first_interviews['Interview_1st'] = True
second_interviews['Interview_2nd'] = True
third_interviews['Interview_3rd'] = True
fourth_interviews['Interview_4th'] = True
offers['Offer'] = True
rejects['Rejected'] = True

In [14]:
first_interviews.head()

,Job ID,Job Title,1st_Interview Date,Owner,Company,Candidate,Interview_1st
0,711,Delivery Transformation Lead (strat implementa...,2025-11-06,James Cato,Loop,Joey Blankemeyer,True
1,711,Delivery Transformation Lead (strat implementa...,2025-11-06,James Cato,Loop,ARTUR BROZ,True
2,784,RVP SF/PNW,2025-11-06,Ada Sitnik,Chainguard,Alex Biller,True
3,196,Enterprise Account Executive (Fintech),2025-11-10,Sam Rudston,Blockaid,Darrell Van Dyken,True
4,780,SDR Houston,2025-11-12,Nick Chaplin,Energy Robotics,Max Wilson,True

### Merge the CV records with the interviews

In [15]:
# Merge the CV record with the 1st interview record
merged_cv_sent_status = cv_sents.merge(
    first_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the 2nd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    second_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the 3rd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    third_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the 4th interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    fourth_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the offers record
merged_cv_sent_status = merged_cv_sent_status.merge(
    offers,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the rejected record
merged_cv_sent_status = merged_cv_sent_status.merge(
    rejects,
    on=['Company', 'Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Print the final list
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected
0,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Dan Greer,2025-11-12,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
1,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Justin Briody,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
2,768,NaT,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Anthony Joanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
3,768,NaT,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Michael Daganhardt,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
4,768,NaT,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Tony Bermeo,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,765,2025-12-03,Sam Rudston,groundcover,SDR,Sean Crowe,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
781,765,2025-11-20,Sam Rudston,groundcover,SDR,Tyler Drago,2025-11-25,True,2025-11-28,True,2025-12-01,True,NaT,NaN,True,NaN
782,810,2025-12-03,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Justin Beron,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
783,810,2025-11-13,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Nicholas Daileanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
784,810,2025-11-21,Nick Chaplin,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Jeffrey Pereira,2025-11-27,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN

### Change the status of the candidates

In [16]:
# Create the conditions
conditions = [
    merged_cv_sent_status['Rejected'].notna(),
    merged_cv_sent_status['Interview_4th'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Offer'].isna(),
    merged_cv_sent_status['Interview_3rd'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_4th'].isna(),
    merged_cv_sent_status['Interview_2nd'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_3rd'].isna(),
    merged_cv_sent_status['Interview_1st'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_2nd'].isna(),
    merged_cv_sent_status['Rejected'].isna() & merged_cv_sent_status['Interview_1st'].isna() & merged_cv_sent_status ['Offer'].isna()
]

# Create the choices (Interview = Converted, "Rejected = "Non-converted")
choices = [
    "Rejected",
    "4th Interview",
    "3rd Interview",
    "2nd Interview",
    "1st Interview",
    "CV Sent"
]

merged_cv_sent_status["Status"] = np.select(conditions, choices, default="N/A")

display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected,Status
0,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Dan Greer,2025-11-12,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
1,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Justin Briody,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
2,768,NaT,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Anthony Joanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
3,768,NaT,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Michael Daganhardt,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
4,768,NaT,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Tony Bermeo,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,765,2025-12-03,Sam Rudston,groundcover,SDR,Sean Crowe,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
781,765,2025-11-20,Sam Rudston,groundcover,SDR,Tyler Drago,2025-11-25,True,2025-11-28,True,2025-12-01,True,NaT,NaN,True,NaN,3rd Interview
782,810,2025-12-03,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Justin Beron,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
783,810,2025-11-13,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Nicholas Daileanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
784,810,2025-11-21,Nick Chaplin,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Jeffrey Pereira,2025-11-27,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview

### Add the column of Action Date - Interview/CV Sent Date

In [17]:
def get_action_date(row):
    status = row['Status']
    
    # Map status to the corresponding column name
    if status == 'CV Sent':
        return row['CV Sent Date']
    elif status == '1st Interview':
        return row['1st_Interview Date']
    elif status == '2nd Interview':
        return row['2nd_Interview Date']
    elif status == '3rd Interview':
        return row['3rd_Interview Date']
    elif status == '4th Interview':
        return row['4th_Interview Date']
    else:
        return pd.NaT # Return "Not a Time" for unknown statuses

# --- Apply the Function ---
merged_cv_sent_status['Action Date'] = merged_cv_sent_status.apply(get_action_date, axis=1)

In [18]:
# Drop the N/A rows in the status
merged_cv_sent_status = merged_cv_sent_status[(merged_cv_sent_status.Status != 'N/A') & (merged_cv_sent_status.Status != 'Rejected')]

merged_cv_sent_status['Status'].value_counts()

Status
1st Interview    116
CV Sent           88
2nd Interview     77
3rd Interview     30
4th Interview     21
Name: count, dtype: int64

In [19]:
# Drop the support columns
merged_cv_sent_status = merged_cv_sent_status.drop(columns = ['Interview_1st', 'Interview_2nd', 'Interview_3rd', 'Interview_4th', 'Rejected', 'Offer', 
                                                              '1st_Interview Date', '2nd_Interview Date', '3rd_Interview Date', '4th_Interview Date'])

In [20]:
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
8,768,2025-11-25,Weronika Nazarko,Adaptive6,Senior Sales Engineer (US),Matthew Hughes,CV Sent,2025-11-25
10,777,2025-11-13,Brad Houston,Adaptive6,SE Director,Brendan Cox,2nd Interview,2025-12-08
11,777,2025-12-05,Brad Houston,Adaptive6,SE Director,Christopher Hoesly,CV Sent,2025-12-05
13,777,2025-11-27,Brad Houston,Adaptive6,SE Director,Hermann Hesse,1st Interview,2025-12-09
14,777,NaT,Brad Houston,Adaptive6,SE Director,Itai Heller,4th Interview,2025-11-28
...,...,...,...,...,...,...,...,...
777,765,2025-12-05,Sam Rudston,groundcover,SDR,Robbie Siefring,CV Sent,2025-12-05
780,765,2025-12-03,Sam Rudston,groundcover,SDR,Sean Crowe,CV Sent,2025-12-03
781,765,2025-11-20,Sam Rudston,groundcover,SDR,Tyler Drago,3rd Interview,2025-12-01
782,810,2025-12-03,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Justin Beron,CV Sent,2025-12-03
784,810,2025-11-21,Nick Chaplin,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Jeffrey Pereira,1st Interview,2025-11-27

In [21]:
display(merged_cv_sent_status[merged_cv_sent_status['Status'] == '4th Interview'])

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
14,777,NaT,Brad Houston,Adaptive6,SE Director,Itai Heller,4th Interview,2025-11-28
69,739,NaT,Samson Abodunrin,Axion Ray,BDR Manager (North East),Matt Henry,4th Interview,2025-11-19
136,669,NaT,Brad Houston,Blockaid,Head of Marketing,Jeff Meisel,4th Interview,2025-11-18
267,702,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Ciaran Deasy,4th Interview,2025-12-03
269,702,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Michel Kiffel,4th Interview,2025-12-02
307,749,2025-11-11,Lilly Tyler,CyCognito,Enterprise AE New York,Brett Arpaia,4th Interview,2025-11-28
310,749,2025-11-13,Lilly Tyler,CyCognito,Enterprise AE New York,Katie Kupferschmid,4th Interview,2025-12-01
352,785,NaT,Monie Rogers,Dash0,Commercial AE Amsterdam,Oskar Stepien,4th Interview,2025-11-21
408,808,2025-11-21,Monie Rogers,Energy Robotics,Partner Manager (Houston),Ahmed Mirza,4th Interview,2025-12-02
447,813,2025-11-21,Joe Marron,Laurel,Enterprise Account Executive UK x4,Dionys Gragousian,4th Interview,2025-12-11
485,711,NaT,James Cato,Loop,Delivery Transformation Lead (strat implementa...,Noel Thomas,4th Interview,2026-01-07
531,751,2025-11-13,Jordan Goodenough,Materialize,CS3 Materialize - Enterprise Account Executive x3,Tiffany Cole,4th Interview,2025-12-04
532,751,2025-11-13,Jordan Goodenough,Materialize,CS3 Materialize - Enterprise Account Executive x3,Todd Hixson,4th Interview,2025-12-01
542,681,NaT,Monie Rogers,Metaview,Metaview - UK MM / Enterprise AE,Federico Belluci,4th Interview,2025-11-28
554,750,NaT,Ben Clifton,Novee.io,Enterprise Account Executive (US),Rob Harvey,4th Interview,2025-12-04
593,731,NaT,Samson Abodunrin,Oscilar,Enterprise AE x5,Jason Fulwood,4th Interview,2025-11-23
598,807,2025-11-14,Samson Abodunrin,Oscilar,SE Leader,Ray Mi,4th Interview,2025-12-04
631,776,2025-11-17,Monie Rogers,PointFive,Enterprise AE (EST),Daniel Smith,4th Interview,2025-12-08
700,665,NaT,Samson Abodunrin,Safe Security,Enterprise AE UK,Connor Newby,4th Interview,2025-11-07
720,770,2025-11-11,Max Hogarth,TraceBit,Account Executive NYC,Ben Brighton,4th Interview,2025-12-01
721,770,2025-11-11,Max Hogarth,TraceBit,Account Executive NYC,Ben Brighton,4th Interview,2025-12-04

In [22]:
display(merged_cv_sent_status[merged_cv_sent_status['Job ID'] == 707])

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
336,707,2025-11-25,Weronika Nazarko,Dash0,"Sales Engineer EMEA (UK, Nordics, Benelux, Ger...",Harry Kimpel,2nd Interview,2025-12-15
338,707,2025-11-27,Weronika Nazarko,Dash0,"Sales Engineer EMEA (UK, Nordics, Benelux, Ger...",Patrick Schrimpf,2nd Interview,2025-12-05

## Export the in-play candidates for the recruiters

In [23]:
owners_list = merged_cv_sent_status['Owner'].dropna().unique()

merged_cv_sent_status['Action Date'].dt.floor('d')

# Create a folder to keep things organised
output_folder = 'Consultant_Active_Reports'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [24]:
for owner in owners_list:
    # 1. Filter for this specific owner
    owner_data = merged_cv_sent_status[merged_cv_sent_status['Owner'] == owner].copy()
    
    # 2. Sort by Job ID (Ascending)
    owner_data = owner_data.sort_values(by='Job ID', ascending=True)
    
    # 3. Select clean columns for the consultant
    export_cols = ['Job ID', 'Company', 'Job Title', 'Candidate', 'Status']
    final_export = owner_data[export_cols]
    
    # 4. Define Filename (Clean the name to avoid file errors)
    clean_owner_name = str(owner).replace(" ", "_").replace("/", "-")
    filename = f"{output_folder}/Active_Candidates_{clean_owner_name}.csv"
    
    # 5. Export to csv
    final_export.to_csv(filename, index=False)
    
    print(f"Exported: {filename} ({len(final_export)} candidates)")

print("\n--- ALL EXPORTS COMPLETE ---")

Exported: Consultant_Active_Reports/Active_Candidates_Weronika_Nazarko.csv (19 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Brad_Houston.csv (26 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Max_Hogarth.csv (23 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ben_Clifton.csv (33 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Gabriel_Inema.csv (9 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Jordan_Goodenough.csv (25 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Monie_Rogers.csv (21 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Samson_Abodunrin.csv (32 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Joe_Marron.csv (22 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ada_Sitnik.csv (16 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Connor_Cook.csv (4 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Harry_Thornton.csv (4 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Nick_Chaplin.csv (11 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Cato.csv (22 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Whipp.csv (16 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Charlotte_Wells.csv (6 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Lilly_Tyler.csv (12 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Sam_Rudston.csv (19 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Georgia_Price.csv (5 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Annalisa_Girgenti.csv (7 candidates)

--- ALL EXPORTS COMPLETE ---