# Individual in-play candidates

In [1]:
!pip install plotly

import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import os

# Set a clean, modern default theme for all our plots
pio.templates.default = "plotly_white"

print("Libraries imported successfully.")

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (6.4.0)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (2.12.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (25.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Libraries imported successfully.

## Import the Data (CVs Sent, 1st interview, Placements, Rejected)

### CVs Sent

In [2]:
# CV Sent dataset
cv_sents = pd.read_csv('CVs Sent (Last 90 Days).csv')

# First 5 rows
display(cv_sents.head())

,"﻿""Job ID""",Job Owner,Created Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Time to Send,CV Sent ID
0,196,Brad Houston,24/09/2025,Max Hogarth,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Nik Lulla,LinkedIn Recruiter Inmail,399,4467
1,196,Brad Houston,02/10/2025,Max Hogarth,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Michael Canfield,Bullhorn,407,4590
2,196,Brad Houston,05/10/2025,Brad Houston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Hassan Makiya,LinkedIn Job Advert,410,4609
3,196,Brad Houston,09/10/2025,Max Hogarth,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,DEREK ORGERON,LinkedIn Recruiter Inmail,414,4667
4,196,Brad Houston,14/10/2025,Harry Thornton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,STONE GODI,Referral,419,4718

### 1st interviews

In [3]:
# Interviews dataset
first_interviews = pd.read_csv('1st Interviews (Last 90 Days).csv')

# First 5 rows
display(first_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,21/09/2025,21/09/2025,Brad Houston,EMEA,Blockaid,CS2 Blockaid - RevOps Manager (NY),Warm,Christian Powers,Glenn Rachlin,Committed Spend,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Brad Houston,683,17619
1,22/09/2025,22/09/2025,James Whipp,EMEA,PointFive,Channel & Alliances Director - UK,Hot,Roger Nash,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,James Whipp,661,17628
2,22/09/2025,22/09/2025,Monie Rogers,EMEA,Dash0,Commercial AE Amsterdam,Hot,Christopher Tengstrand,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Joe Marron,622,17629
3,22/09/2025,23/09/2025,Weronika Nazarko,EMEA,Oasis Security,TAM (East + Central),Hot,Jerry Johanes,Danny Brickman,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Brad Houston,577,17631
4,22/09/2025,25/09/2025,Weronika Nazarko,EMEA,Oasis Security,Senior Solution Architect (US/Canada),Hot,Sumeet Ramnani,Danny Brickman,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Brad Houston,679,17635

### 2nd interviews

In [4]:
# 2nd interviews dataset
second_interviews = pd.read_csv('2nd Interviews (Last 90 Days).csv')

# First 5 rows
display(second_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,21/09/2025,17/09/2025,Jordan Goodenough,EMEA,UnifyApps,UnifyApps - Solutions Architect,Hot,Waseem Bhatti,Colin Callahan,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Jordan Goodenough,668,17598
1,21/09/2025,18/09/2025,Jordan Goodenough,EMEA,Oasis Security,Enterprise Account Executive (NYC Metro P1),Hot,Matt Tower,Nick Oberhuber,Contingent,Further Interview,2nd Interview,Bullhorn,Harry Thornton,180,17600
2,21/09/2025,22/09/2025,Jordan Goodenough,EMEA,UnifyApps,UnifyApps - Partner / Alliances Director,Hot,Kaleigh Dougherty,Colin Callahan,Contingent,Further Interview,2nd Interview,LinkedIn Message,Jordan Goodenough,657,17602
3,21/09/2025,17/09/2025,Jordan Goodenough,EMEA,Cognition AI,Enterprise Account Executive (US),NaN,Christopher Amata,David Morse,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Annalisa Girgenti,484,17604
4,21/09/2025,19/09/2025,Jordan Goodenough,EMEA,Blockaid,CS2 - Blockaid - Enterprise Account Executive ...,NaN,Jaime Valadao,Glenn Rachlin,Contingent,Further Interview,2nd Interview,Referral,Brad Houston,501,17605

### 3rd interviews

In [5]:
# Interviews dataset
third_interviews = pd.read_csv('3rd Interviews (Last 90 Days).csv')

# First 5 rows
display(third_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,21/09/2025,18/09/2025,Jordan Goodenough,EMEA,Oasis Security,Enterprise Account Executive (NYC Metro P1),Hot,Matt Tower,Nick Oberhuber,Contingent,Further Interview,3rd Interview,Bullhorn,Harry Thornton,180,17601
1,21/09/2025,19/09/2025,Jordan Goodenough,EMEA,UnifyApps,UnifyApps - Solutions Architect,Hot,Waseem Bhatti,Colin Callahan,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,Jordan Goodenough,668,17599
2,21/09/2025,24/09/2025,Jordan Goodenough,EMEA,Cognition AI,Enterprise Account Executive (US),NaN,Chris Jensen,David Morse,Contingent,Further Interview,3rd Interview,Bullhorn,Annalisa Girgenti,484,17603
3,21/09/2025,21/09/2025,Samson Abodunrin,EMEA,Oscilar,MidMarket Leader,Hot,Adam Navrozally,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Message,Samson Abodunrin,666,17608
4,21/09/2025,21/09/2025,Samson Abodunrin,EMEA,Safe Security,RVP- NYC,Hot,Michael Goldstein,NaN,Contingent,Further Interview,3rd Interview,Email & Text follow up,Samson Abodunrin,608,17611

### 4th interviews

In [6]:
# Interviews dataset
fourth_interviews = pd.read_csv('4th Interviews (Last 90 Days).csv')

# First 5 rows
display(fourth_interviews.tail())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
140,19/12/2025,18/12/2025,Ben Clifton,EMEA,Blockaid,SDR (Singapore),Hot,Dinie Mifdhal,NaN,Contingent,Further Interview,4th Interview,Email & Text follow up,Brad Houston,757,20525
141,19/12/2025,22/12/2025,Monie Rogers,EMEA,Rox,ENT AE East,Hot,Graham Hill,NaN,Contingent,Further Interview,4th Interview,LinkedIn Message,James Cato,721,20524
142,19/12/2025,19/12/2025,Samson Abodunrin,EMEA,Antithesis,BDR,Hot,Ryan Lewis,Hao Guan,Contingent,Further Interview,4th Interview,LinkedIn Job Advert,Samson Abodunrin,667,20540
143,19/12/2025,17/12/2025,Joe Marron,EMEA,Honeycomb,Strat AE U.S x4,Hot,Brian Saverino,Matt Nelson,Contingent,Further Interview,4th Interview,Bullhorn,Joe Marron,715,20544
144,19/12/2025,19/12/2025,Samson Abodunrin,EMEA,Impala,Head of Sales (NA),Hot,Patrick Racy,NaN,Contingent,Further Interview,4th Interview,LinkedIn Message,Annalisa Girgenti,760,20548

### Rejected Candidates

In [7]:
# Rejects dataset
rejects = pd.read_csv('Rejected Candidates (Last 90 Days).csv')

rejects.rename(columns={'﻿"Job ID"' : 'Job ID'}, inplace=True)

rejects = rejects[['Job ID', 'Candidate']]

# First 5 rows
display(rejects.head())

   Job ID       Candidate
0     110    Mark Ghannam
1     110  Matthias Funke
2     110       Dan Croft
3     110   Vyas Adhikari
4     110       Miguel L.

### Offers

In [8]:
# Offers dataset
offers = pd.read_csv('Offers (Last 90 Days).csv')

offers = offers[['Job ID', 'Candidate']]

# Last 5 rows
display(offers.tail())

    Job ID       Candidate
72     782   Jamie Summers
73     795  David McDonald
74     739    Jacques Lane
75     806   PETER SIMMONS
76     594    Scott Murphy

## Re-structure the data, changing their fields

In [9]:
# Rename the Kpi Date columns to CV Sent Date, change that to datetime type
cv_sents.rename(columns={'Created Date' : 'CV Sent Date', '﻿"Job ID"' : 'Job ID'}, inplace=True)

# Change the CV Sent Date to datetime type
cv_sents['CV Sent Date'] = pd.to_datetime(cv_sents['CV Sent Date'], format='%d/%m/%Y')
cv_sents = cv_sents[['Job ID', 'Owner', 'Company', 'Job Title', 'CV Sent Date', 'Candidate']]

# Display the new dataset
cv_sents.head()

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate
0,196,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),2025-09-24,Nik Lulla
1,196,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),2025-10-02,Michael Canfield
2,196,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),2025-10-05,Hassan Makiya
3,196,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),2025-10-09,DEREK ORGERON
4,196,Harry Thornton,Blockaid,Enterprise Account Executive (Fintech),2025-10-14,STONE GODI

In [10]:
# Rename the Kpi Date columns to Interview Date, change that to datetime type
first_interviews.rename(columns={'Interview Date' : '1st_Interview Date'}, inplace=True)
second_interviews.rename(columns={'Interview Date' : '2nd_Interview Date'}, inplace=True)
third_interviews.rename(columns={'Interview Date' : '3rd_Interview Date'}, inplace=True)
fourth_interviews.rename(columns={'Interview Date' : '4th_Interview Date'}, inplace=True)

# Change the Create Date to datetime type
first_interviews['1st_Interview Date'] = pd.to_datetime(first_interviews['1st_Interview Date'], format='%d/%m/%Y')
first_interviews = first_interviews[['Job ID', '1st_Interview Date', 'Candidate']]

second_interviews['2nd_Interview Date'] = pd.to_datetime(second_interviews['2nd_Interview Date'], format='%d/%m/%Y')
second_interviews = second_interviews[['Job ID', '2nd_Interview Date', 'Candidate']]

third_interviews['3rd_Interview Date'] = pd.to_datetime(third_interviews['3rd_Interview Date'], format='%d/%m/%Y')
third_interviews = third_interviews[['Job ID', '3rd_Interview Date', 'Candidate']]

fourth_interviews['4th_Interview Date'] = pd.to_datetime(fourth_interviews['4th_Interview Date'], format='%d/%m/%Y')
fourth_interviews = fourth_interviews[['Job ID', '4th_Interview Date','Candidate']]

## Create a few helper columns to get the status of CVs Sent to Clients

In [11]:
# Apply helper columns to get the status of CVs
first_interviews['Interview_1st'] = True
second_interviews['Interview_2nd'] = True
third_interviews['Interview_3rd'] = True
fourth_interviews['Interview_4th'] = True
offers['Offer'] = True
rejects['Rejected'] = True

In [12]:
first_interviews.head()

   Job ID 1st_Interview Date               Candidate  Interview_1st
0     683         2025-09-21        Christian Powers           True
1     661         2025-09-22              Roger Nash           True
2     622         2025-09-22  Christopher Tengstrand           True
3     577         2025-09-23           Jerry Johanes           True
4     679         2025-09-25          Sumeet Ramnani           True

### Merge the CV records with the interviews

In [13]:
# Merge the CV record with the 1st interview record
merged_cv_sent_status = cv_sents.merge(
    first_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the 2nd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    second_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the 3rd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    third_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the 4th interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    fourth_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the offers record
merged_cv_sent_status = merged_cv_sent_status.merge(
    offers,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the rejected record
merged_cv_sent_status = merged_cv_sent_status.merge(
    rejects,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Print the final list
display(merged_cv_sent_status)

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected
0,110,NaN,NaN,NaN,NaT,Ali Sezer,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
1,110,NaN,NaN,NaN,NaT,Dan Croft,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
2,110,NaN,NaN,NaN,NaT,Mark Ghannam,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
3,110,NaN,NaN,NaN,NaT,Matthias Funke,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
4,110,NaN,NaN,NaN,NaT,Miguel L.,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612,869,Brad Houston,Native Security,Enterprise Account Executive (Chicago),2025-12-17,Chris Gardner,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1613,870,Max Hogarth,Native Security,Enterprise Account Executive (North-East),2025-12-17,Rich Kroll,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1614,871,Georgia Price,LaunchDarkly,Strategic AE U.S,2025-12-19,Dan DiPalma,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1615,871,Jordan Goodenough,LaunchDarkly,Strategic AE U.S,2025-12-18,Paul Plofchan,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1616,873,James Cato,CodeRabbit,VP Enterprise Sales,2025-12-18,Andrew Sweet,2025-12-19,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN

In [14]:
merged_cv_sent_status.head()

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected
0,110,NaN,NaN,NaN,NaT,Ali Sezer,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
1,110,NaN,NaN,NaN,NaT,Dan Croft,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
2,110,NaN,NaN,NaN,NaT,Mark Ghannam,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
3,110,NaN,NaN,NaN,NaT,Matthias Funke,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
4,110,NaN,NaN,NaN,NaT,Miguel L.,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True

### Change the status of the candidates

In [15]:
def determine_status(row):
    # 1. Highest Priority: Is it Rejected?
    if row['Rejected'] == True:
        return 'Rejected'
    
    # 2. Next Priority: Is there an Offer?
    elif row['Offer'] == True:
        return 'Offer'
    
    # 3. Check Interview Stages (Backwards from latest)
    elif row['Interview_4th'] == True:
        return '4th Interview'
    elif row['Interview_3rd'] == True:
        return '3rd Interview'
    elif row['Interview_2nd'] == True:
        return '2nd Interview'
    elif row['Interview_1st'] == True:
        return '1st Interview'
    
    # 4. Default
    else:
        return 'CV Sent'

# Apply it to the DataFrame
merged_cv_sent_status['Status'] = merged_cv_sent_status.apply(determine_status, axis=1)

display(merged_cv_sent_status)

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected,Status
0,110,NaN,NaN,NaN,NaT,Ali Sezer,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
1,110,NaN,NaN,NaN,NaT,Dan Croft,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
2,110,NaN,NaN,NaN,NaT,Mark Ghannam,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
3,110,NaN,NaN,NaN,NaT,Matthias Funke,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
4,110,NaN,NaN,NaN,NaT,Miguel L.,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612,869,Brad Houston,Native Security,Enterprise Account Executive (Chicago),2025-12-17,Chris Gardner,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
1613,870,Max Hogarth,Native Security,Enterprise Account Executive (North-East),2025-12-17,Rich Kroll,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
1614,871,Georgia Price,LaunchDarkly,Strategic AE U.S,2025-12-19,Dan DiPalma,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
1615,871,Jordan Goodenough,LaunchDarkly,Strategic AE U.S,2025-12-18,Paul Plofchan,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
1616,873,James Cato,CodeRabbit,VP Enterprise Sales,2025-12-18,Andrew Sweet,2025-12-19,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview

### Add the column of Action Date - Interview/CV Sent Date

In [16]:
def get_action_date(row):
    status = row['Status']
    
    # Map status to the corresponding column name
    if status == 'CV Sent':
        return row['CV Sent Date']
    elif status == '1st Interview':
        return row['1st_Interview Date']
    elif status == '2nd Interview':
        return row['2nd_Interview Date']
    elif status == '3rd Interview':
        return row['3rd_Interview Date']
    elif status == '4th Interview':
        return row['4th_Interview Date']
    else:
        return pd.NaT # Return "Not a Time" for unknown statuses

# --- Apply the Function ---
merged_cv_sent_status['Action Date'] = merged_cv_sent_status.apply(get_action_date, axis=1)

In [17]:
# Drop the N/A rows in the status
merged_cv_sent_status = merged_cv_sent_status[(merged_cv_sent_status.Status != 'N/A') & (merged_cv_sent_status.Status != 'Rejected') & (merged_cv_sent_status.Status != 'Offer')]

merged_cv_sent_status['Status'].value_counts()

Status
1st Interview    111
CV Sent          101
2nd Interview     51
4th Interview     35
3rd Interview     32
Name: count, dtype: int64

In [18]:
# Drop the support columns
merged_cv_sent_status = merged_cv_sent_status.drop(columns = ['Interview_1st', 'Interview_2nd', 'Interview_3rd', 'Interview_4th', 'Rejected', 'Offer', 
                                                              '1st_Interview Date', '2nd_Interview Date', '3rd_Interview Date', '4th_Interview Date'])

In [19]:
display(merged_cv_sent_status)

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,Status,Action Date
12,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-12-16,Connor Yakushi,CV Sent,2025-12-16
19,196,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),2025-12-17,Jacob Neuhard,CV Sent,2025-12-17
21,196,Samson Abodunrin,Blockaid,Enterprise Account Executive (Fintech),2025-12-05,Jason Fulwood,CV Sent,2025-12-05
23,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-11-04,Madyson Almeida,2nd Interview,2025-12-03
25,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-11-26,Mike Gomez,1st Interview,2025-12-01
...,...,...,...,...,...,...,...,...
1612,869,Brad Houston,Native Security,Enterprise Account Executive (Chicago),2025-12-17,Chris Gardner,CV Sent,2025-12-17
1613,870,Max Hogarth,Native Security,Enterprise Account Executive (North-East),2025-12-17,Rich Kroll,CV Sent,2025-12-17
1614,871,Georgia Price,LaunchDarkly,Strategic AE U.S,2025-12-19,Dan DiPalma,CV Sent,2025-12-19
1615,871,Jordan Goodenough,LaunchDarkly,Strategic AE U.S,2025-12-18,Paul Plofchan,CV Sent,2025-12-18
1616,873,James Cato,CodeRabbit,VP Enterprise Sales,2025-12-18,Andrew Sweet,1st Interview,2025-12-19

## Export the in-play candidates for the recruiters

In [20]:
owners_list = merged_cv_sent_status['Owner'].dropna().unique()

merged_cv_sent_status['Action Date'].dt.floor('d')

# Create a folder to keep things organised
output_folder = 'Consultant_Active_Reports'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [21]:
for owner in owners_list:
    # 1. Filter for this specific owner
    owner_data = merged_cv_sent_status[merged_cv_sent_status['Owner'] == owner].copy()
    
    # 2. Sort by Job ID (Ascending)
    owner_data = owner_data.sort_values(by='Job ID', ascending=True)
    
    # 3. Select clean columns for the consultant
    export_cols = ['Job ID', 'Company', 'Job Title', 'Candidate', 'Status']
    final_export = owner_data[export_cols]
    
    # 4. Define Filename (Clean the name to avoid file errors)
    clean_owner_name = str(owner).replace(" ", "_").replace("/", "-")
    filename = f"{output_folder}/Active_Candidates_{clean_owner_name}.xlsx"
    
    # 5. Export to csv
    final_export.to_excel(filename, index=False)
    
    print(f"Exported: {filename} ({len(final_export)} candidates)")

print("\n--- ALL EXPORTS COMPLETE ---")

Exported: Consultant_Active_Reports/Active_Candidates_Ben_Clifton.xlsx (24 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Max_Hogarth.xlsx (29 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Samson_Abodunrin.xlsx (28 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Brad_Houston.xlsx (35 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Jordan_Goodenough.xlsx (26 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Joe_Marron.xlsx (24 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ada_Sitnik.xlsx (11 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Weronika_Nazarko.xlsx (14 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Georgia_Price.xlsx (9 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Gabriel_Inema.xlsx (16 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Lilly_Tyler.xlsx (14 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Charlotte_Wells.xlsx (9 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Monie_Rogers.xlsx (10 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Nick_Chaplin.xlsx (12 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Whipp.xlsx (16 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Harry_Thornton.xlsx (4 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Cato.xlsx (12 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Sam_Rudston.xlsx (24 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Connor_Cook.xlsx (5 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Annalisa_Girgenti.xlsx (2 candidates)

--- ALL EXPORTS COMPLETE ---