In [1]:
!pip install plotly

import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio

# Set a clean, modern default theme for all our plots
pio.templates.default = "plotly_white"

print("Libraries imported successfully.")

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (6.4.0)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (2.12.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (25.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Libraries imported successfully.

## Import the Data (CVs Sent, 1st interview, Placements, Rejected)

### CVs Sent

In [4]:
# CV Sent dataset
cv_sents = pd.read_csv('CVs Sent (This Month).csv')

# First 5 rows
display(cv_sents.head())

,"﻿""Job ID""",Job Owner,Created Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Time to Send,CV Sent ID
0,196,Brad Houston,04/11/2025,Sam Rudston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Darrell Van Dyken,LinkedIn Message,440,4994
1,196,Brad Houston,04/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Madyson Almeida,Email & Text follow up,440,5009
2,196,Brad Houston,10/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Dennis Coombs,LinkedIn Recruiter Inmail,446,5106
3,196,Brad Houston,19/11/2025,Brad Houston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Brendan McMenimen,LinkedIn Recruiter Inmail,455,5230
4,196,Brad Houston,26/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Mike Gomez,Cold Call via Signalhire,462,5342

### 1st interviews

In [5]:
# Interviews dataset
first_interviews = pd.read_csv('1st Interviews (This Month).csv')

# First 5 rows
display(first_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,01/11/2025,07/11/2025,Weronika Nazarko,EMEA,Dash0,Sales Engineer (US) x 3,Hot,Rajeev Govindan,Mirko Novakovic,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Harry Thornton,708,18862
1,02/11/2025,02/11/2025,Ben Clifton,EMEA,Cognition AI,Enterprise Account Executive (US),NaN,Erik Abbott,NaN,Contingent,1st Interview,1st Interview,Email & Text follow up,Annalisa Girgenti,484,18866
2,02/11/2025,11/11/2025,Jordan Goodenough,EMEA,Cognition AI,CS2 Cognition AI - Enterprise Account Executiv...,Hot,Alek Demko,David Morse,Committed Spend,1st Interview,1st Interview,LinkedIn Message,PP Committed Spend Store - UK,710,18868
3,02/11/2025,04/11/2025,Joe Marron,EMEA,Axion Ray,Enterprise Account Executive (Central),Hot,Colin Roper,Bryan Dell,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Harry Thornton,741,18869
4,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Antithesis,Enterprise Account Executive - East,Hot,Ted O'Neill,Hao Guan,Contingent,1st Interview,1st Interview,Bullhorn,Samson Abodunrin,594,18872

### 2nd interviews

In [7]:
# 2nd interviews dataset
second_interviews = pd.read_csv('2nd Interviews (This Month).csv')

# First 5 rows
display(second_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,Director of Enterprise Sales (US),Hot,Matthew Duignan,Neha Narkhede,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Harry Thornton,556,18870
1,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,BDR Manager - NYC,Hot,MINAS GREGORIADES,Neha Narkhede,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,596,18874
2,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,BDR Manager - NYC,Hot,Anthony Smyth,Neha Narkhede,Contingent,Further Interview,2nd Interview,Email & Text follow up,Samson Abodunrin,596,18873
3,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Safe Security,Enterprise AE UK,Hot,Connor Newby,Daniel Cuffley,Contingent,Further Interview,2nd Interview,Bullhorn,Samson Abodunrin,665,18876
4,02/11/2025,02/11/2025,James Whipp,EMEA,PointFive,Channel & Alliances Director - UK,Hot,ABRAR AHMED,NaN,Contingent,Further Interview,2nd Interview,Bullhorn,James Whipp,661,18875

### 3rd interviews

In [6]:
# Interviews dataset
second_interviews = pd.read_csv('2nd Interviews (This Month).csv')

# First 5 rows
display(second_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,Director of Enterprise Sales (US),Hot,Matthew Duignan,Neha Narkhede,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Harry Thornton,556,18870
1,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,BDR Manager - NYC,Hot,MINAS GREGORIADES,Neha Narkhede,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,596,18874
2,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,BDR Manager - NYC,Hot,Anthony Smyth,Neha Narkhede,Contingent,Further Interview,2nd Interview,Email & Text follow up,Samson Abodunrin,596,18873
3,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Safe Security,Enterprise AE UK,Hot,Connor Newby,Daniel Cuffley,Contingent,Further Interview,2nd Interview,Bullhorn,Samson Abodunrin,665,18876
4,02/11/2025,02/11/2025,James Whipp,EMEA,PointFive,Channel & Alliances Director - UK,Hot,ABRAR AHMED,NaN,Contingent,Further Interview,2nd Interview,Bullhorn,James Whipp,661,18875

In [239]:
# Rejects dataset
rejects = pd.read_csv('Rejected Candidates (1 Jan 2025 to 1 Sep 2025).csv')

rejects.rename(columns={'﻿"Job ID"' : 'Job ID'}, inplace=True)

rejects = rejects[['Job ID', 'Owner', 'Company', 'Candidate']]

# First 5 rows
display(rejects.head())

# Last 5 rows
display(rejects.tail())

   Job ID           Owner Company         Candidate
0       3  Harry Thornton    Veza  Brandon Jernigan
1       3  Harry Thornton    Veza      Jeremy White
2       3  Harry Thornton    Veza     Ariel Fleming
3       3  Harry Thornton    Veza      Cory Axelson
4       3  Harry Thornton    Veza      Omar Chanman

      Job ID             Owner     Company     Candidate
3142     601  Weronika Nazarko     Oscilar  TARA JOHNSON
3143     601  Weronika Nazarko     Oscilar     CINDY LIN
3144     624  Weronika Nazarko  CodeRabbit   Phil Cherry
3145     624  Weronika Nazarko  CodeRabbit   Dan Peacock
3146     640       Max Hogarth   CyCognito   Lewis Brand

In [240]:
# Placements dataset
placements = pd.read_csv('Placement Data (1 Jan - 31 Aug).csv')

# First 5 rows
display(placements.head())

# Last 5 rows
display(placements.tail())

,Job ID,Kpi Date,Placement CRM Employment Type,Owner,Company,Job Title,Placement Job Category,Candidate,Client Pillar,Time To Fill,Placement Time To Hire
0,283,02/01/2025,Contingent,Joe Marron,Dash0,Account Executive NYC x 2,Sales (GTM),Jack Plunkett,DevOps/Infustructure,23,16
1,135,07/01/2025,Contingent,Annalisa Girgenti,Snorkel.ai,Field Engineer US (Anywhere),Pre-Sales & Solutions (GTM),Parker Erickson,AI/ML,224,36
2,164,08/01/2025,Contingent,Harry Thornton,TraceBit,Sales Leader EMEA,Sales (GTM),Robert Thurtell,Security,175,51
3,224,08/01/2025,Contingent,Samson Abodunrin,Edge Delta,Senior Sales Engineer (East),Pre-Sales & Solutions (GTM),Forrest Knight,DevOps/Infustructure,100,35
4,314,23/01/2025,Contingent,Joe Marron,Dash0,Account Executive (NYC),Sales (GTM),Ethan Suarez,DevOps/Infustructure,16,11

,Job ID,Kpi Date,Placement CRM Employment Type,Owner,Company,Job Title,Placement Job Category,Candidate,Client Pillar,Time To Fill,Placement Time To Hire
114,548,19/08/2025,Contingent,Monie Rogers,Mabl,AE South East,Sales (GTM),Madison Somerday,DevOps/Infustructure,64,0
115,458,22/08/2025,Contingent,James Cato,Loop,Customer Success Manager,Post-Sales & Customer Success,Aly Sommer,AI/ML,128,15
116,590,23/08/2025,Contingent,Harry Thornton,Oscilar,Head of Customer Success,Post-Sales & Customer Success,Joby Babu,AI/ML,38,31
117,579,28/08/2025,Contingent,Gabriel Inema,Endor Labs,Customer Success Engineer LATAM,Post-Sales & Customer Success,Jesus Castaneda,Security,51,31
118,621,29/08/2025,Committed Spend,Jordan Goodenough,Materialize,CS2 Materialize - Head of Sales NYC,Sales (GTM),Daniel Bernardo,Data,25,18

## Re-structure the data, changing their fields

In [241]:
# Rename the Kpi Date columns to CV Sent Date, change that to datetime type
cv_sents.rename(columns={'Created Date' : 'CV Sent Date', '﻿"Job ID"' : 'Job ID'}, inplace=True)

# Change the CV Sent Date to datetime type
cv_sents['CV Sent Date'] = pd.to_datetime(cv_sents['CV Sent Date'], format='%d/%m/%Y')
cv_sents = cv_sents[['Job ID', 'CV Sent Date', 'Owner', 'Company', 'Candidate']]

# Display the new dataset
cv_sents.head()

   Job ID CV Sent Date              Owner     Company               Candidate
0       4   2025-04-11       Monie Rogers       Merge              Viktor Moj
1     135   2025-01-06  Annalisa Girgenti  Snorkel.ai       Akhil Ramasagaram
2     135   2025-01-17  Annalisa Girgenti  Snorkel.ai           Alex Rodarmel
3     135   2025-01-17  Annalisa Girgenti  Snorkel.ai       Artsiom Skarakhod
4     135   2025-01-17  Annalisa Girgenti  Snorkel.ai  Darien Mitchell-Tontar

In [242]:
# Rename the Kpi Date columns to Interview Date, change that to datetime type
interviews.rename(columns={'Created Date' : 'Interview Date'}, inplace=True)

# Change the Create Date to datetime type
interviews['Interview Date'] = pd.to_datetime(interviews['Interview Date'], format='%d/%m/%Y')
interviews = interviews[['Job ID', 'Interview Date', 'Owner', 'Company', 'Candidate']]

# Display the new dataset
interviews.head()

,Job ID,Interview Date,Owner,Company,Candidate
0,283,2024-12-16,Joe Marron,Dash0,Jack Plunkett
1,223,2025-01-07,Oscar Lane,Redwood Software,Chris Cozzi
2,233,2025-01-07,Samson Abodunrin,Oscilar,Selvaraj Durairaj
3,300,2025-01-10,Joe Marron,Linx SECURITY,Cole Robertson
4,165,2025-01-15,Harry Thornton,Snorkel.ai,Ryan Andrews

In [243]:
# Rename the Kpi Date columns to Placements Date, change that to datetime type
placements.rename(columns={'Kpi Date' : 'Placement Date'}, inplace=True)

# Change the Create Date to datetime type
placements['Placement Date'] = pd.to_datetime(placements['Placement Date'], format='%d/%m/%Y')

# Display the new dataset
placements.head()

,Job ID,Placement Date,Placement CRM Employment Type,Owner,Company,Job Title,Placement Job Category,Candidate,Client Pillar,Time To Fill,Placement Time To Hire
0,283,2025-01-02,Contingent,Joe Marron,Dash0,Account Executive NYC x 2,Sales (GTM),Jack Plunkett,DevOps/Infustructure,23,16
1,135,2025-01-07,Contingent,Annalisa Girgenti,Snorkel.ai,Field Engineer US (Anywhere),Pre-Sales & Solutions (GTM),Parker Erickson,AI/ML,224,36
2,164,2025-01-08,Contingent,Harry Thornton,TraceBit,Sales Leader EMEA,Sales (GTM),Robert Thurtell,Security,175,51
3,224,2025-01-08,Contingent,Samson Abodunrin,Edge Delta,Senior Sales Engineer (East),Pre-Sales & Solutions (GTM),Forrest Knight,DevOps/Infustructure,100,35
4,314,2025-01-23,Contingent,Joe Marron,Dash0,Account Executive (NYC),Sales (GTM),Ethan Suarez,DevOps/Infustructure,16,11

## Create a few helper columns to get the status of CVs Sent to Clients

In [244]:
# Apply helper columns to get the status of CVs
interviews['Interview'] = True
rejects['Rejected'] = True

In [245]:
# Merge the CV record with the interview record
merged_cv_sent_status = cv_sents.merge(
    interviews,
    on=['Company','Job ID', 'Owner', 'Candidate'],
    how='left'
)


# Merge the CV record with the rejected record
merged_cv_sent_status = merged_cv_sent_status.merge(
    rejects,
    on=['Company', 'Job ID', 'Owner', 'Candidate'],
    how='left'
)

# Print the final list
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Candidate,Interview Date,Interview,Rejected
0,4,2025-04-11,Monie Rogers,Merge,Viktor Moj,NaT,NaN,True
1,135,2025-01-06,Annalisa Girgenti,Snorkel.ai,Akhil Ramasagaram,NaT,NaN,True
2,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Alex Rodarmel,NaT,NaN,True
3,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Artsiom Skarakhod,NaT,NaN,True
4,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Darien Mitchell-Tontar,2025-01-27,True,True
...,...,...,...,...,...,...,...,...
2522,661,2025-08-26,James Whipp,PointFive,Roger Nash,NaT,NaN,NaN
2523,662,2025-08-27,Brad Houston,Blockaid,Adam Corrado,NaT,NaN,NaN
2524,664,2025-08-29,Monie Rogers,Navan,Nase Reid,NaT,NaN,NaN
2525,665,2025-08-31,Samson Abodunrin,Safe Security,William Rice,2025-08-31,True,NaN
2526,665,2025-08-31,Samson Abodunrin,Safe Security,Jan Sassenberg,NaT,NaN,NaN

In [246]:
# Create the conditions
conditions = [
    merged_cv_sent_status['Interview'].notna() & merged_cv_sent_status ['Rejected'].notna(),
    merged_cv_sent_status['Interview'].notna(),
    merged_cv_sent_status['Rejected'].notna()
]

# Create the choices (Interview = Converted, "Rejected = "Non-converted")
choices = [
    "Converted",
    "Converted",
    "Non-converted"
]

merged_cv_sent_status["Status"] = np.select(conditions, choices, default="N/A")

display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Candidate,Interview Date,Interview,Rejected,Status
0,4,2025-04-11,Monie Rogers,Merge,Viktor Moj,NaT,NaN,True,Non-converted
1,135,2025-01-06,Annalisa Girgenti,Snorkel.ai,Akhil Ramasagaram,NaT,NaN,True,Non-converted
2,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Alex Rodarmel,NaT,NaN,True,Non-converted
3,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Artsiom Skarakhod,NaT,NaN,True,Non-converted
4,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Darien Mitchell-Tontar,2025-01-27,True,True,Converted
...,...,...,...,...,...,...,...,...,...
2522,661,2025-08-26,James Whipp,PointFive,Roger Nash,NaT,NaN,NaN,N/A
2523,662,2025-08-27,Brad Houston,Blockaid,Adam Corrado,NaT,NaN,NaN,N/A
2524,664,2025-08-29,Monie Rogers,Navan,Nase Reid,NaT,NaN,NaN,N/A
2525,665,2025-08-31,Samson Abodunrin,Safe Security,William Rice,2025-08-31,True,NaN,Converted
2526,665,2025-08-31,Samson Abodunrin,Safe Security,Jan Sassenberg,NaT,NaN,NaN,N/A

In [247]:
# Drop the support columns
merged_cv_sent_status = merged_cv_sent_status.drop(columns = ['Interview', 'Rejected'])

In [248]:
# Drop the N/A rows in the status
merged_cv_sent_status = merged_cv_sent_status[(merged_cv_sent_status.Status != 'N/A')]

# Drop the Interview Date < CV Sent Date records
merged_cv_sent_status = merged_cv_sent_status[(merged_cv_sent_status['CV Sent Date'] <= merged_cv_sent_status['Interview Date']) | (merged_cv_sent_status['Status'] == 'Non-converted')]

display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Candidate,Interview Date,Status
0,4,2025-04-11,Monie Rogers,Merge,Viktor Moj,NaT,Non-converted
1,135,2025-01-06,Annalisa Girgenti,Snorkel.ai,Akhil Ramasagaram,NaT,Non-converted
2,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Alex Rodarmel,NaT,Non-converted
3,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Artsiom Skarakhod,NaT,Non-converted
4,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Darien Mitchell-Tontar,2025-01-27,Converted
...,...,...,...,...,...,...,...
2518,659,2025-08-28,Monie Rogers,Navan,Kenny Vercilien,2025-08-28,Converted
2519,659,2025-08-28,Monie Rogers,Navan,Dillon Marrs,2025-08-28,Converted
2520,661,2025-08-26,James Whipp,PointFive,Greg McFarlane,2025-08-26,Converted
2521,661,2025-08-26,James Whipp,PointFive,Dominic Ayres,2025-08-26,Converted
2525,665,2025-08-31,Samson Abodunrin,Safe Security,William Rice,2025-08-31,Converted

In [249]:
# Adding the column tracking the number of days convert from CV Sent to 1st Interview

merged_cv_sent_status['Time to Convert (Days)'] = (merged_cv_sent_status['Interview Date'] - merged_cv_sent_status['CV Sent Date']).dt.days

In [250]:
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Candidate,Interview Date,Status,Time to Convert (Days)
0,4,2025-04-11,Monie Rogers,Merge,Viktor Moj,NaT,Non-converted,NaN
1,135,2025-01-06,Annalisa Girgenti,Snorkel.ai,Akhil Ramasagaram,NaT,Non-converted,NaN
2,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Alex Rodarmel,NaT,Non-converted,NaN
3,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Artsiom Skarakhod,NaT,Non-converted,NaN
4,135,2025-01-17,Annalisa Girgenti,Snorkel.ai,Darien Mitchell-Tontar,2025-01-27,Converted,10.0
...,...,...,...,...,...,...,...,...
2518,659,2025-08-28,Monie Rogers,Navan,Kenny Vercilien,2025-08-28,Converted,0.0
2519,659,2025-08-28,Monie Rogers,Navan,Dillon Marrs,2025-08-28,Converted,0.0
2520,661,2025-08-26,James Whipp,PointFive,Greg McFarlane,2025-08-26,Converted,0.0
2521,661,2025-08-26,James Whipp,PointFive,Dominic Ayres,2025-08-26,Converted,0.0
2525,665,2025-08-31,Samson Abodunrin,Safe Security,William Rice,2025-08-31,Converted,0.0

In [251]:
merged_cv_sent_status = merged_cv_sent_status.drop(columns = ['CV Sent Date', 'Interview Date'])

display(merged_cv_sent_status)

,Job ID,Owner,Company,Candidate,Status,Time to Convert (Days)
0,4,Monie Rogers,Merge,Viktor Moj,Non-converted,NaN
1,135,Annalisa Girgenti,Snorkel.ai,Akhil Ramasagaram,Non-converted,NaN
2,135,Annalisa Girgenti,Snorkel.ai,Alex Rodarmel,Non-converted,NaN
3,135,Annalisa Girgenti,Snorkel.ai,Artsiom Skarakhod,Non-converted,NaN
4,135,Annalisa Girgenti,Snorkel.ai,Darien Mitchell-Tontar,Converted,10.0
...,...,...,...,...,...,...
2518,659,Monie Rogers,Navan,Kenny Vercilien,Converted,0.0
2519,659,Monie Rogers,Navan,Dillon Marrs,Converted,0.0
2520,661,James Whipp,PointFive,Greg McFarlane,Converted,0.0
2521,661,James Whipp,PointFive,Dominic Ayres,Converted,0.0
2525,665,Samson Abodunrin,Safe Security,William Rice,Converted,0.0

In [252]:
merged_cv_sent_status['Time to Convert (Days)'].describe()

count    1690.00000
mean        5.96213
std         7.10763
min         0.00000
25%         1.00000
50%         5.00000
75%         8.00000
max        97.00000
Name: Time to Convert (Days), dtype: float64