# Individual in-play candidates

In [1]:
!pip install plotly

import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import os

# Set a clean, modern default theme for all our plots
pio.templates.default = "plotly_white"

print("Libraries imported successfully.")

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (6.4.0)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (2.12.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (25.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Libraries imported successfully.

## Import the Data (CVs Sent, 1st interview, Placements, Rejected)

### CVs Sent

In [2]:
# CV Sent dataset
cv_sents = pd.read_csv('CVs Sent (Last 90 Days).csv')

# First 5 rows
display(cv_sents.head())

,"﻿""Job ID""",Job Owner,Created Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Time to Send,CV Sent ID,Candidate ID
0,196,Brad Houston,20/10/2025,Joe Marron,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Wesley Wooten,LinkedIn Recruiter Inmail,425,4797,7956
1,196,Brad Houston,22/10/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Carlos Torres,Cold Call via Signalhire,427,4815,8158
2,196,Brad Houston,04/11/2025,Sam Rudston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Darrell Van Dyken,LinkedIn Message,440,4994,8321
3,196,Brad Houston,04/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Madyson Almeida,Email & Text follow up,440,5009,8341
4,196,Brad Houston,10/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Dennis Coombs,LinkedIn Recruiter Inmail,446,5106,8229

### 1st interviews

In [3]:
# Interviews dataset
first_interviews = pd.read_csv('1st Interviews (Last 90 Days).csv')

# First 5 rows
display(first_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,17/10/2025,17/10/2025,James Cato,US,Rox,ENT AE East,Hot,Matthew Pope,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,James Cato,721,18396
1,17/10/2025,17/10/2025,James Cato,US,Rox,ENT AE East,Hot,Daniel Christoffers,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,James Cato,721,18410
2,17/10/2025,17/10/2025,James Cato,US,Rox,ENT AE East,Hot,Peter Abbott,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,James Cato,721,18418
3,17/10/2025,17/10/2025,Ada Sitnik,EMEA,Legion Security,Sales Engineer (US),NaN,Kevin Torres,NaN,Committed Spend,1st Interview,1st Interview,LinkedIn Recruiter Inmail,James Whipp,580,18375
4,17/10/2025,21/10/2025,Brad Houston,EMEA,Blink Ops,Regional Director (EMEA),Hot,Ronnen Brunner,Aaron Beveridge,Contingent,1st Interview,1st Interview,LinkedIn Message,Brad Houston,599,18382

### 2nd interviews

In [4]:
# 2nd interviews dataset
second_interviews = pd.read_csv('2nd Interviews (Last 90 Days).csv')

# First 5 rows
display(second_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,17/10/2025,23/10/2025,James Cato,US,CodeRabbit,Strat AE,Warm,Katie Libby,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,James Cato,637,18391
1,17/10/2025,16/10/2025,James Cato,US,Loop,Delivery Transformation Lead (strat implementa...,Hot,Tarang Patel,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,James Cato,711,18392
2,17/10/2025,16/10/2025,James Cato,US,Loop,Delivery Transformation Lead (strat implementa...,Hot,Andrew Nachenberg,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,James Cato,711,18394
3,17/10/2025,17/10/2025,James Cato,US,Rox,ENT AE Austin,Hot,Thomas Webster,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,James Cato,722,18414
4,17/10/2025,17/10/2025,Ada Sitnik,EMEA,Legion Security,Sales Engineer (US),NaN,Kevin Torres,NaN,Committed Spend,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,James Whipp,580,18376

### 3rd interviews

In [5]:
# Interviews dataset
third_interviews = pd.read_csv('3rd Interviews (Last 90 Days).csv')

# First 5 rows
display(third_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,17/10/2025,17/10/2025,Samson Abodunrin,EMEA,Safe Security,RVP- NYC,Hot,Michael Sansone,Daniel Cuffley,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,608,18381
1,17/10/2025,20/10/2025,Jordan Goodenough,EMEA,Blockaid,CS2 - Blockaid - Enterprise Account Executive ...,NaN,Molly Holmes,NaN,Contingent,Further Interview,3rd Interview,Referral,Brad Houston,501,18387
2,17/10/2025,17/10/2025,Sam Rudston,EMEA,groundcover,SDR (Anywhere U.S),Hot,Jacqueline Loiselle,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Message,Joe Marron,565,18397
3,17/10/2025,17/10/2025,Samson Abodunrin,EMEA,Antithesis,Enterprise Account Executive - West,NaN,Bill Farrakh,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Message,Annalisa Girgenti,528,18400
4,17/10/2025,17/10/2025,Samson Abodunrin,EMEA,Safe Security,Enterprise AE UK,Hot,Veronika Harcenoka,NaN,Contingent,Further Interview,3rd Interview,Bullhorn,Samson Abodunrin,665,18403

### 4th interviews

In [6]:
# Interviews dataset
fourth_interviews = pd.read_csv('4th Interviews (Last 90 Days).csv')

# First 5 rows
display(fourth_interviews.tail())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
133,08/01/2026,12/01/2026,Max Hogarth,EMEA,Maze,Technical Success Manager,Hot,Aaron Lake,NaN,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Max Hogarth,841,20784
134,08/01/2026,14/01/2026,Ben Clifton,EMEA,Doxel.ai,CS1 Doxel - Enterprise AE Northeast U.S,Hot,Mike Gomez,NaN,Committed Spend,Further Interview,4th Interview,Cold Call via Signalhire,Joe Marron,591,20795
135,08/01/2026,13/01/2026,Monie Rogers,EMEA,Laurel,Enterprise Account Executive UK x4,Hot,Tom Harries,NaN,Contingent,Further Interview,4th Interview,LinkedIn Message,Annalisa Girgenti,813,20800
136,13/01/2026,13/01/2026,James Cato,US,Loop,Customer Operations Manager,Hot,Pat Ingersoll,NaN,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,James Cato,830,20969
137,13/01/2026,12/01/2026,Joe Marron,EMEA,Doxel.ai,CS1 Doxel - Enterprise AE Northeast U.S,Hot,Matt Crandley,Daniel Cheney,Committed Spend,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Joe Marron,591,20949

### Rejected Candidates

In [7]:
# Rejects dataset
rejects = pd.read_csv('Rejected Candidates (Last 90 Days).csv')

rejects.rename(columns={'﻿"Job ID"' : 'Job ID'}, inplace=True)

rejects = rejects[['Job ID', 'Candidate']]

# First 5 rows
display(rejects.head())

   Job ID       Candidate
0     110    Mark Ghannam
1     110  Matthias Funke
2     110       Dan Croft
3     110   Vyas Adhikari
4     110       Miguel L.

### Offers

In [8]:
# Offers dataset
offers = pd.read_csv('Offers (Last 90 Days).csv')

offers = offers[['Job ID', 'Candidate']]

# Last 5 rows
display(offers.tail())

    Job ID      Candidate
77     757  Dinie Mifdhal
78     667     J. Donahoe
79     667     Eray Yaman
80     667     Ryan Lewis
81     663     Adam Evans

### Placements

In [13]:
# Offers dataset
placements = pd.read_csv('Total Candidate Placements (Last 90 Days).csv')

placements.rename(columns={'﻿"Job ID"' : 'Job ID'}, inplace=True)

placements = placements[['Job ID', 'Candidate']]

# Last 5 rows
display(placements.tail())

    Job ID              Candidate
65     788           Alix Moreira
66     803  Nikolaos Papadopoulos
67     807                 Ray Mi
68     828        Junaid Farooqui
69     829             Ryan Kerbs

## Re-structure the data, changing their fields

In [14]:
# Rename the Kpi Date columns to CV Sent Date, change that to datetime type
cv_sents.rename(columns={'Created Date' : 'CV Sent Date', '﻿"Job ID"' : 'Job ID'}, inplace=True)

# Change the CV Sent Date to datetime type
cv_sents['CV Sent Date'] = pd.to_datetime(cv_sents['CV Sent Date'], format='%d/%m/%Y')
cv_sents = cv_sents[['Job ID', 'Owner', 'Company', 'Job Title', 'CV Sent Date', 'Candidate']]

# Display the new dataset
cv_sents.head()

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate
0,196,Joe Marron,Blockaid,Enterprise Account Executive (Fintech),2025-10-20,Wesley Wooten
1,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-10-22,Carlos Torres
2,196,Sam Rudston,Blockaid,Enterprise Account Executive (Fintech),2025-11-04,Darrell Van Dyken
3,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-11-04,Madyson Almeida
4,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-11-10,Dennis Coombs

In [15]:
# Rename the Kpi Date columns to Interview Date, change that to datetime type
first_interviews.rename(columns={'Interview Date' : '1st_Interview Date'}, inplace=True)
second_interviews.rename(columns={'Interview Date' : '2nd_Interview Date'}, inplace=True)
third_interviews.rename(columns={'Interview Date' : '3rd_Interview Date'}, inplace=True)
fourth_interviews.rename(columns={'Interview Date' : '4th_Interview Date'}, inplace=True)

# Change the Create Date to datetime type
first_interviews['1st_Interview Date'] = pd.to_datetime(first_interviews['1st_Interview Date'], format='%d/%m/%Y')
first_interviews = first_interviews[['Job ID', '1st_Interview Date', 'Candidate']]

second_interviews['2nd_Interview Date'] = pd.to_datetime(second_interviews['2nd_Interview Date'], format='%d/%m/%Y')
second_interviews = second_interviews[['Job ID', '2nd_Interview Date', 'Candidate']]

third_interviews['3rd_Interview Date'] = pd.to_datetime(third_interviews['3rd_Interview Date'], format='%d/%m/%Y')
third_interviews = third_interviews[['Job ID', '3rd_Interview Date', 'Candidate']]

fourth_interviews['4th_Interview Date'] = pd.to_datetime(fourth_interviews['4th_Interview Date'], format='%d/%m/%Y')
fourth_interviews = fourth_interviews[['Job ID', '4th_Interview Date','Candidate']]

## Create a few helper columns to get the status of CVs Sent to Clients

In [23]:
# Apply helper columns to get the status of CVs
first_interviews['Interview_1st'] = True
second_interviews['Interview_2nd'] = True
third_interviews['Interview_3rd'] = True
fourth_interviews['Interview_4th'] = True
offers['Offer'] = True
rejects['Rejected'] = True
placements['Placed'] = True

In [24]:
first_interviews.head()

   Job ID 1st_Interview Date            Candidate  Interview_1st
0     721         2025-10-17         Matthew Pope           True
1     721         2025-10-17  Daniel Christoffers           True
2     721         2025-10-17         Peter Abbott           True
3     580         2025-10-17         Kevin Torres           True
4     599         2025-10-21       Ronnen Brunner           True

### Merge the CV records with the interviews

In [25]:
# Merge the CV record with the 1st interview record
merged_cv_sent_status = cv_sents.merge(
    first_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the 2nd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    second_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the 3rd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    third_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the 4th interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    fourth_interviews,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the offers record
merged_cv_sent_status = merged_cv_sent_status.merge(
    offers,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the placements record
merged_cv_sent_status = merged_cv_sent_status.merge(
    placements,
    on=['Job ID', 'Candidate'],
    how='outer'
)

# Merge the CV record with the rejected record
merged_cv_sent_status = merged_cv_sent_status.merge(
    rejects,
    on=['Job ID', 'Candidate'],
    how='outer'
)


# Print the final list
display(merged_cv_sent_status)

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Placed,Rejected
0,110,NaN,NaN,NaN,NaT,Ali Sezer,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
1,110,NaN,NaN,NaN,NaT,Dan Croft,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
2,110,NaN,NaN,NaN,NaT,Mark Ghannam,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
3,110,NaN,NaN,NaN,NaT,Matthias Funke,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
4,110,NaN,NaN,NaN,NaT,Miguel L.,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464,898,Joe Marron,Dash0,Cognition - Founding AE Germany,2026-01-12,Felix Völker,2026-01-12,True,2026-01-13,True,NaT,NaN,NaT,NaN,NaN,NaN,NaN
1465,898,Harry Thornton,Cognition AI,Cognition - Founding AE Germany,2026-01-12,Matthias Bauer,2026-01-15,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN
1466,900,Brad Houston,Native Security,Senior SE (East Coast),2026-01-12,Jonathan Sabo,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN
1467,901,Monie Rogers,Metaview,Metaview MM AE NYC / Boston,2026-01-13,Cheyney Mclnerny,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN
1468,901,Monie Rogers,Metaview,Metaview MM AE NYC / Boston,2026-01-12,Paul Fayman,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN

In [27]:
merged_cv_sent_status.head()

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Placed,Rejected
0,110,NaN,NaN,NaN,NaT,Ali Sezer,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
1,110,NaN,NaN,NaN,NaT,Dan Croft,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
2,110,NaN,NaN,NaN,NaT,Mark Ghannam,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
3,110,NaN,NaN,NaN,NaT,Matthias Funke,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
4,110,NaN,NaN,NaN,NaT,Miguel L.,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True

### Change the status of the candidates

In [28]:
def determine_status(row):
    # 1. Highest Priority: Is it Placed?
    if row['Placed'] == True:
        return 'Placed'

    # 1. Next Priority: Is it Rejected?
    if row['Rejected'] == True:
        return 'Rejected'
    
    # 2. Next Priority: Is there an Offer?
    elif row['Offer'] == True:
        return 'Offer'
    
    # 3. Check Interview Stages (Backwards from latest)
    elif row['Interview_4th'] == True:
        return '4th Interview'
    elif row['Interview_3rd'] == True:
        return '3rd Interview'
    elif row['Interview_2nd'] == True:
        return '2nd Interview'
    elif row['Interview_1st'] == True:
        return '1st Interview'
    
    # 4. Default
    else:
        return 'CV Sent'

# Apply it to the DataFrame
merged_cv_sent_status['Status'] = merged_cv_sent_status.apply(determine_status, axis=1)

display(merged_cv_sent_status)

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Placed,Rejected,Status
0,110,NaN,NaN,NaN,NaT,Ali Sezer,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True,Rejected
1,110,NaN,NaN,NaN,NaT,Dan Croft,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True,Rejected
2,110,NaN,NaN,NaN,NaT,Mark Ghannam,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True,Rejected
3,110,NaN,NaN,NaN,NaT,Matthias Funke,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True,Rejected
4,110,NaN,NaN,NaN,NaT,Miguel L.,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464,898,Joe Marron,Dash0,Cognition - Founding AE Germany,2026-01-12,Felix Völker,2026-01-12,True,2026-01-13,True,NaT,NaN,NaT,NaN,NaN,NaN,NaN,2nd Interview
1465,898,Harry Thornton,Cognition AI,Cognition - Founding AE Germany,2026-01-12,Matthias Bauer,2026-01-15,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,1st Interview
1466,900,Brad Houston,Native Security,Senior SE (East Coast),2026-01-12,Jonathan Sabo,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,CV Sent
1467,901,Monie Rogers,Metaview,Metaview MM AE NYC / Boston,2026-01-13,Cheyney Mclnerny,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,CV Sent
1468,901,Monie Rogers,Metaview,Metaview MM AE NYC / Boston,2026-01-12,Paul Fayman,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,CV Sent

### Add the column of Action Date - Interview/CV Sent Date

In [29]:
def get_action_date(row):
    status = row['Status']
    
    # Map status to the corresponding column name
    if status == 'CV Sent':
        return row['CV Sent Date']
    elif status == '1st Interview':
        return row['1st_Interview Date']
    elif status == '2nd Interview':
        return row['2nd_Interview Date']
    elif status == '3rd Interview':
        return row['3rd_Interview Date']
    elif status == '4th Interview':
        return row['4th_Interview Date']
    else:
        return pd.NaT # Return "Not a Time" for unknown statuses

# --- Apply the Function ---
merged_cv_sent_status['Action Date'] = merged_cv_sent_status.apply(get_action_date, axis=1)

In [30]:
# Drop the N/A rows in the status
merged_cv_sent_status = merged_cv_sent_status[(merged_cv_sent_status.Status != 'Placed') & (merged_cv_sent_status.Status != 'N/A') & (merged_cv_sent_status.Status != 'Rejected') & (merged_cv_sent_status.Status != 'Offer')]

merged_cv_sent_status['Status'].value_counts()

Status
1st Interview    117
CV Sent          105
2nd Interview     49
3rd Interview     34
4th Interview     15
Name: count, dtype: int64

In [31]:
# Drop the support columns
merged_cv_sent_status = merged_cv_sent_status.drop(columns = ['Interview_1st', 'Interview_2nd', 'Interview_3rd', 'Interview_4th', 'Rejected', 'Offer', 
                                                              '1st_Interview Date', '2nd_Interview Date', '3rd_Interview Date', '4th_Interview Date'])

In [32]:
display(merged_cv_sent_status)

,Job ID,Owner,Company,Job Title,CV Sent Date,Candidate,Placed,Status,Action Date
18,196,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),2025-12-17,Jacob Neuhard,NaN,CV Sent,2025-12-17
20,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-11-04,Madyson Almeida,NaN,2nd Interview,2025-12-03
21,196,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),2025-11-26,Mike Gomez,NaN,1st Interview,2025-12-01
29,274,Brad Houston,Blockaid,Senior Sales Engineer (US),2025-11-12,Silja Petasch,NaN,1st Interview,2025-11-13
35,416,Max Hogarth,Prime Security,Account Executive,2025-12-05,David Chase,NaN,CV Sent,2025-12-05
...,...,...,...,...,...,...,...,...,...
1464,898,Joe Marron,Dash0,Cognition - Founding AE Germany,2026-01-12,Felix Völker,NaN,2nd Interview,2026-01-13
1465,898,Harry Thornton,Cognition AI,Cognition - Founding AE Germany,2026-01-12,Matthias Bauer,NaN,1st Interview,2026-01-15
1466,900,Brad Houston,Native Security,Senior SE (East Coast),2026-01-12,Jonathan Sabo,NaN,CV Sent,2026-01-12
1467,901,Monie Rogers,Metaview,Metaview MM AE NYC / Boston,2026-01-13,Cheyney Mclnerny,NaN,CV Sent,2026-01-13
1468,901,Monie Rogers,Metaview,Metaview MM AE NYC / Boston,2026-01-12,Paul Fayman,NaN,CV Sent,2026-01-12

## Export the in-play candidates for the recruiters

In [35]:
owners_list = merged_cv_sent_status['Owner'].dropna().unique()

merged_cv_sent_status['Action Date'].dt.floor('d')

# Create a folder to keep things organised
output_folder = 'Consultant_Active_Reports'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [36]:
for owner in owners_list:
    # 1. Filter for this specific owner
    owner_data = merged_cv_sent_status[merged_cv_sent_status['Owner'] == owner].copy()
    
    # 2. Sort by Job ID (Ascending)
    owner_data = owner_data.sort_values(by='Job ID', ascending=True)
    
    # 3. Select clean columns for the consultant
    export_cols = ['Job ID', 'Company', 'Job Title', 'Candidate', 'Status', 'Action Date']
    final_export = owner_data[export_cols]
    
    # 4. Define Filename (Clean the name to avoid file errors)
    clean_owner_name = str(owner).replace(" ", "_").replace("/", "-")
    filename = f"{output_folder}/Active_Candidates_{clean_owner_name}.csv"
    
    # 5. Export to csv
    final_export.to_csv(filename, index=False)
    
    print(f"Exported: {filename} ({len(final_export)} candidates)")

print("\n--- ALL EXPORTS COMPLETE ---")

Exported: Consultant_Active_Reports/Active_Candidates_Max_Hogarth.csv (29 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ben_Clifton.csv (19 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Brad_Houston.csv (36 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Jordan_Goodenough.csv (38 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Harry_Thornton.csv (7 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Gabriel_Inema.csv (18 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ada_Sitnik.csv (10 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Weronika_Nazarko.csv (22 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Georgia_Price.csv (10 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Joe_Marron.csv (36 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Monie_Rogers.csv (11 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Samson_Abodunrin.csv (19 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Lilly_Tyler.csv (17 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Sam_Rudston.csv (8 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Cato.csv (10 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Charlotte_Wells.csv (9 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Nick_Chaplin.csv (6 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Annalisa_Girgenti.csv (2 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Whipp.csv (3 candidates)

--- ALL EXPORTS COMPLETE ---