In [1]:
!pip install plotly

import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import os

# Set a clean, modern default theme for all our plots
pio.templates.default = "plotly_white"

print("Libraries imported successfully.")

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (6.4.0)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (2.12.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (25.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Libraries imported successfully.

## Import the Data (CVs Sent, 1st interview, Placements, Rejected)

### CVs Sent

In [25]:
# CV Sent dataset
cv_sents = pd.read_csv('CVs Sent (Last 90 Days).csv')

# First 5 rows
display(cv_sents.head())

,"﻿""Job ID""",Job Owner,Created Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Time to Send,CV Sent ID
0,196,Brad Houston,11/09/2025,Brad Houston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Jack Brigham,LinkedIn Recruiter Inmail,386,4304
1,196,Brad Houston,17/09/2025,Max Hogarth,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Jared Seavey,Bullhorn,392,4401
2,196,Brad Houston,24/09/2025,Max Hogarth,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Nik Lulla,LinkedIn Recruiter Inmail,399,4467
3,196,Brad Houston,02/10/2025,Max Hogarth,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Michael Canfield,Bullhorn,407,4590
4,196,Brad Houston,05/10/2025,Brad Houston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Hassan Makiya,LinkedIn Job Advert,410,4609

### 1st interviews

In [26]:
# Interviews dataset
first_interviews = pd.read_csv('1st Interviews (Last 90 Days).csv')

# First 5 rows
display(first_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,07/09/2025,07/09/2025,Samson Abodunrin,EMEA,Oscilar,MidMarket Leader,Hot,Lauren Lewis,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,666,17183
1,07/09/2025,09/09/2025,Brad Houston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Tommy Jia,Glenn Rachlin,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Brad Houston,196,17184
2,07/09/2025,09/09/2025,Joe Marron,EMEA,Endeavor ai,Founding Enterprise Account Executive (San Fran),Hot,Andrew Amato,Sahitya Senapathy,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Annalisa Girgenti,678,17185
3,08/09/2025,09/09/2025,James Cato,US,CodeRabbit,SE east,Hot,VICTOR MOEY,NaN,Contingent,1st Interview,1st Interview,Bullhorn,James Cato,638,17220
4,08/09/2025,10/09/2025,James Cato,US,CodeRabbit,SE east,Hot,Sam Dillard,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,James Cato,638,17231

### 2nd interviews

In [27]:
# 2nd interviews dataset
second_interviews = pd.read_csv('2nd Interviews (Last 90 Days).csv')

# First 5 rows
display(second_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,08/09/2025,08/09/2025,Monie Rogers,EMEA,Dash0,Enterprise Account Executive - Benelux,Hot,Leon Roet,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Annalisa Girgenti,649,17193
1,08/09/2025,08/09/2025,Monie Rogers,EMEA,Dash0,Enterprise Account Executive - Benelux,Hot,Sjors Bonjer,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Message,Annalisa Girgenti,649,17195
2,08/09/2025,08/09/2025,Ada Sitnik,EMEA,Octopus Deploy,Senior Technical Account Manager (EMEA),Hot,Marc-Steffen Kaesz,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Harry Thornton,639,17198
3,08/09/2025,10/09/2025,Sam Rudston,EMEA,Dash0,Enterprise Account Executive - Nordics / Stock...,Hot,Morten Lund,NaN,Contingent,Further Interview,2nd Interview,LinkedIn Message,Annalisa Girgenti,650,17202
4,08/09/2025,08/09/2025,Monie Rogers,EMEA,CodeRabbit,AE East,Hot,Ryan Finkelstein,NaN,Contingent,Further Interview,2nd Interview,Bullhorn,James Cato,588,17203

### 3rd interviews

In [28]:
# Interviews dataset
third_interviews = pd.read_csv('3rd Interviews (Last 90 Days).csv')

# First 5 rows
display(third_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,08/09/2025,08/09/2025,Monie Rogers,EMEA,Dash0,Enterprise Account Executive - Benelux,Hot,Bernard Holleman,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Message,Annalisa Girgenti,649,17191
1,08/09/2025,08/09/2025,Monie Rogers,EMEA,Dash0,Enterprise Account Executive - Benelux,Hot,Leon Roet,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,Annalisa Girgenti,649,17194
2,08/09/2025,08/09/2025,Monie Rogers,EMEA,CodeRabbit,AE East,Hot,Ryan Finkelstein,NaN,Contingent,Further Interview,3rd Interview,Bullhorn,James Cato,588,17204
3,10/09/2025,08/09/2025,Ben Clifton,EMEA,Blink Ops,Enterprise Account Executive (UK),Hot,Justin Pemberton,NaN,Contingent,Further Interview,3rd Interview,Bullhorn,Brad Houston,604,17273
4,11/09/2025,09/09/2025,Ben Clifton,EMEA,Blink Ops,Enterprise Account Executive (DACH),Hot,Thomas Escher,Aaron Beveridge,Contingent,Further Interview,3rd Interview,Bullhorn,Brad Houston,605,17319

### 4th interviews

In [29]:
# Interviews dataset
fourth_interviews = pd.read_csv('4th Interviews (Last 90 Days).csv')

# First 5 rows
display(fourth_interviews.tail())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
115,04/12/2025,04/12/2025,Samson Abodunrin,EMEA,Oscilar,SE Leader,Hot,Ray Mi,NaN,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,807,20033
116,05/12/2025,04/12/2025,Jordan Goodenough,EMEA,Materialize,CS3 Materialize - Enterprise Account Executive x3,Hot,Tiffany Cole,Nate Stewart,Committed Spend,Further Interview,4th Interview,LinkedIn Message,PP Committed Spend Store - UK,751,20039
117,05/12/2025,11/12/2025,Joe Marron,EMEA,Laurel,Enterprise Account Executive UK x4,Hot,Dionys Gragousian,Emil Dyrvig,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Annalisa Girgenti,813,20054
118,05/12/2025,04/12/2025,Ben Clifton,EMEA,Novee.io,Enterprise Account Executive (US),Hot,Rob Harvey,Ido Geffen,Contingent,Further Interview,4th Interview,Email & Text follow up,Brad Houston,750,20063
119,05/12/2025,08/12/2025,Monie Rogers,EMEA,PointFive,Enterprise AE (EST),Hot,Daniel Smith,NaN,Contingent,Further Interview,4th Interview,LinkedIn Message,James Whipp,776,20066

### Rejected Candidates

In [30]:
# Rejects dataset
rejects = pd.read_csv('Rejected Candidates (Last 90 Days).csv')

rejects.rename(columns={'﻿"Job ID"' : 'Job ID'}, inplace=True)

rejects = rejects[['Job ID', 'Job Title', 'Owner', 'Company', 'Candidate']]

# First 5 rows
display(rejects.head())

# Last 5 rows
display(rejects.tail())

,Job ID,Job Title,Owner,Company,Candidate
0,25,Device Fingerprinting Engineer,James Whipp,Oscilar,Hemant Garg
1,25,Device Fingerprinting Engineer,James Whipp,Oscilar,Máté Magyar
2,73,AE UK,Sam Adam,Tecton,Stephen Schouten
3,117,CSE EMEA,Emma Connelly,Vercel,Erich Simon
4,180,Enterprise Account Executive (NYC Metro P1),Jordan Goodenough,Oasis Security,Matt Tower

,Job ID,Job Title,Owner,Company,Candidate
1419,815,Enterprise Account Executive UK,Ben Clifton,Conduct AI,Jamie Summers
1420,815,Enterprise Account Executive UK,Joe Marron,Conduct AI,Dionys Gragousian
1421,817,Senior Sales Engineer (West/Mountain),Brad Houston,Oasis Security,Matthew McKelvey
1422,826,VP of Sales,Brad Houston,Legit Security,Jim Underwood
1423,833,SDR Manager,Joe Marron,Blockaid,Branden Bilicki

### Offers

In [31]:
# Offers dataset
offers = pd.read_csv('Offers (Last 90 Days).csv')

# First 5 rows
display(offers.head())

# Last 5 rows
display(offers.tail())

,"﻿""Created Date""",Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Job Owner,Job ID,Offer Outcome
0,11/09/2025,Ben Clifton,EMEA,Rein Security,Enterprise Account Executive (North-East),Hot,Stephen Collins,Cold Call via Signalhire,Brad Houston,630,Offer Extended
1,12/09/2025,Harry Thornton,EMEA,Chainguard,Regional Sales Director (South East),Hot,Brandon Greene,Bullhorn,Harry Thornton,470,Offer Extended
2,12/09/2025,Ben Clifton,EMEA,Chainguard,Strategic Account Manager (Tola),Hot,Alex Maruri,Bullhorn,Harry Thornton,572,Offer Extended
3,12/09/2025,Joe Marron,EMEA,Dash0,Dash0 SDR Amsterdam,Hot,Toni Jelovic,LinkedIn Recruiter Inmail,Joe Marron,613,Offer Extended
4,12/09/2025,Joe Marron,EMEA,Dash0,Dash0 SDR Amsterdam,Hot,Engie Abdelkader,LinkedIn Recruiter Inmail,Joe Marron,613,Offer Extended

,"﻿""Created Date""",Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Job Owner,Job ID,Offer Outcome
63,28/11/2025,Joe Marron,EMEA,LaunchDarkly,Enterprise Account Executive (Germany),Hot,Moritz Gross,LinkedIn Recruiter Inmail,Harry Thornton,746,Offer Extended
64,28/11/2025,Brad Houston,EMEA,Blockaid,CS2 Blockaid - RevOps Manager (NY),Warm,Kevin Venturino,Cold Call via Signalhire,Brad Houston,683,Offer Extended
65,30/11/2025,Nick Chaplin,EMEA,Energy Robotics,SDR Houston,Hot,Max Wilson,Sales Robot,Annalisa Girgenti,780,Offer Extended
66,01/12/2025,Weronika Nazarko,EMEA,Redwood Software,SE UK,Hot,Nicholas Vlatko,LinkedIn Recruiter Inmail,James Cato,673,Offer Extended
67,03/12/2025,Sam Rudston,EMEA,groundcover,SDR,Hot,Tyler Drago,Cold Call via Signalhire,Joe Marron,765,Offer Extended

## Re-structure the data, changing their fields

In [32]:
# Rename the Kpi Date columns to CV Sent Date, change that to datetime type
cv_sents.rename(columns={'Created Date' : 'CV Sent Date', '﻿"Job ID"' : 'Job ID'}, inplace=True)

# Change the CV Sent Date to datetime type
cv_sents['CV Sent Date'] = pd.to_datetime(cv_sents['CV Sent Date'], format='%d/%m/%Y')
cv_sents = cv_sents[['Job ID', 'CV Sent Date', 'Owner', 'Company', 'Job Title', 'Candidate']]

# Display the new dataset
cv_sents.head()

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate
0,196,2025-09-11,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),Jack Brigham
1,196,2025-09-17,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),Jared Seavey
2,196,2025-09-24,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),Nik Lulla
3,196,2025-10-02,Max Hogarth,Blockaid,Enterprise Account Executive (Fintech),Michael Canfield
4,196,2025-10-05,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),Hassan Makiya

In [33]:
# Rename the Kpi Date columns to Interview Date, change that to datetime type
first_interviews.rename(columns={'Interview Date' : '1st_Interview Date'}, inplace=True)
second_interviews.rename(columns={'Interview Date' : '2nd_Interview Date'}, inplace=True)
third_interviews.rename(columns={'Interview Date' : '3rd_Interview Date'}, inplace=True)
fourth_interviews.rename(columns={'Interview Date' : '4th_Interview Date'}, inplace=True)

# Change the Create Date to datetime type
first_interviews['1st_Interview Date'] = pd.to_datetime(first_interviews['1st_Interview Date'], format='%d/%m/%Y')
first_interviews = first_interviews[['Job ID', 'Job Title', '1st_Interview Date', 'Owner', 'Company', 'Candidate']]

second_interviews['2nd_Interview Date'] = pd.to_datetime(second_interviews['2nd_Interview Date'], format='%d/%m/%Y')
second_interviews = second_interviews[['Job ID', 'Job Title', '2nd_Interview Date', 'Owner', 'Company', 'Candidate']]

third_interviews['3rd_Interview Date'] = pd.to_datetime(third_interviews['3rd_Interview Date'], format='%d/%m/%Y')
third_interviews = third_interviews[['Job ID', 'Job Title', '3rd_Interview Date', 'Owner', 'Company', 'Candidate']]

fourth_interviews['4th_Interview Date'] = pd.to_datetime(fourth_interviews['4th_Interview Date'], format='%d/%m/%Y')
fourth_interviews = fourth_interviews[['Job ID', 'Job Title', '4th_Interview Date', 'Owner', 'Company', 'Candidate']]

In [34]:
# Rename the Kpi Date columns to Offer Date, change that to datetime type
offers.rename(columns={'﻿"Created Date"' : 'Offer Date'}, inplace=True)

# Change the Create Date to datetime type
offers['Placement Date'] = pd.to_datetime(offers['Offer Date'], format='%d/%m/%Y')

# Change the columns for offers
offers = offers[['Job ID', 'Job Title', 'Owner', 'Company', 'Candidate']]

# Display the new dataset
offers.head()

,Job ID,Job Title,Owner,Company,Candidate
0,630,Enterprise Account Executive (North-East),Ben Clifton,Rein Security,Stephen Collins
1,470,Regional Sales Director (South East),Harry Thornton,Chainguard,Brandon Greene
2,572,Strategic Account Manager (Tola),Ben Clifton,Chainguard,Alex Maruri
3,613,Dash0 SDR Amsterdam,Joe Marron,Dash0,Toni Jelovic
4,613,Dash0 SDR Amsterdam,Joe Marron,Dash0,Engie Abdelkader

## Create a few helper columns to get the status of CVs Sent to Clients

In [35]:
# Apply helper columns to get the status of CVs
first_interviews['Interview_1st'] = True
second_interviews['Interview_2nd'] = True
third_interviews['Interview_3rd'] = True
fourth_interviews['Interview_4th'] = True
offers['Offer'] = True
rejects['Rejected'] = True

In [36]:
first_interviews.head()

,Job ID,Job Title,1st_Interview Date,Owner,Company,Candidate,Interview_1st
0,666,MidMarket Leader,2025-09-07,Samson Abodunrin,Oscilar,Lauren Lewis,True
1,196,Enterprise Account Executive (Fintech),2025-09-09,Brad Houston,Blockaid,Tommy Jia,True
2,678,Founding Enterprise Account Executive (San Fran),2025-09-09,Joe Marron,Endeavor ai,Andrew Amato,True
3,638,SE east,2025-09-09,James Cato,CodeRabbit,VICTOR MOEY,True
4,638,SE east,2025-09-10,James Cato,CodeRabbit,Sam Dillard,True

### Merge the CV records with the interviews

In [37]:
# Merge the CV record with the 1st interview record
merged_cv_sent_status = cv_sents.merge(
    first_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the 2nd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    second_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the 3rd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    third_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the 4th interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    fourth_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the offers record
merged_cv_sent_status = merged_cv_sent_status.merge(
    offers,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the rejected record
merged_cv_sent_status = merged_cv_sent_status.merge(
    rejects,
    on=['Company', 'Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Print the final list
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected
0,767,2025-10-29,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Dan Greer,2025-11-12,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
1,767,2025-10-23,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Joe Troiani,2025-10-27,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
2,767,2025-10-23,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Justin Briody,2025-10-29,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
3,768,2025-11-05,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Anthony Joanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
4,768,2025-10-29,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Michael Daganhardt,2025-10-30,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873,765,2025-12-03,Sam Rudston,groundcover,SDR,Sean Crowe,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1874,765,2025-11-20,Sam Rudston,groundcover,SDR,Tyler Drago,2025-11-25,True,2025-11-28,True,2025-12-01,True,NaT,NaN,True,NaN
1875,810,2025-12-03,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Justin Beron,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
1876,810,2025-11-13,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Nicholas Daileanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
1877,810,2025-11-21,Nick Chaplin,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Jeffrey Pereira,2025-11-27,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN

### Change the status of the candidates

In [38]:
# Create the conditions
conditions = [
    merged_cv_sent_status['Rejected'].notna(),
    merged_cv_sent_status['Interview_4th'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Offer'].isna(),
    merged_cv_sent_status['Interview_3rd'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_4th'].isna(),
    merged_cv_sent_status['Interview_2nd'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_3rd'].isna(),
    merged_cv_sent_status['Interview_1st'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_2nd'].isna(),
    merged_cv_sent_status['Rejected'].isna() & merged_cv_sent_status['Interview_1st'].isna() & merged_cv_sent_status ['Offer'].isna()
]

# Create the choices (Interview = Converted, "Rejected = "Non-converted")
choices = [
    "Rejected",
    "4th Interview",
    "3rd Interview",
    "2nd Interview",
    "1st Interview",
    "CV Sent"
]

merged_cv_sent_status["Status"] = np.select(conditions, choices, default="N/A")

display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected,Status
0,767,2025-10-29,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Dan Greer,2025-11-12,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
1,767,2025-10-23,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Joe Troiani,2025-10-27,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
2,767,2025-10-23,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Justin Briody,2025-10-29,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
3,768,2025-11-05,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Anthony Joanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
4,768,2025-10-29,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Michael Daganhardt,2025-10-30,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873,765,2025-12-03,Sam Rudston,groundcover,SDR,Sean Crowe,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
1874,765,2025-11-20,Sam Rudston,groundcover,SDR,Tyler Drago,2025-11-25,True,2025-11-28,True,2025-12-01,True,NaT,NaN,True,NaN,3rd Interview
1875,810,2025-12-03,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Justin Beron,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
1876,810,2025-11-13,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Nicholas Daileanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
1877,810,2025-11-21,Nick Chaplin,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Jeffrey Pereira,2025-11-27,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview

### Add the column of Action Date - Interview/CV Sent Date

In [39]:
def get_action_date(row):
    status = row['Status']
    
    # Map status to the corresponding column name
    if status == 'CV Sent':
        return row['CV Sent Date']
    elif status == '1st Interview':
        return row['1st_Interview Date']
    elif status == '2nd Interview':
        return row['2nd_Interview Date']
    elif status == '3rd Interview':
        return row['3rd_Interview Date']
    elif status == '4th Interview':
        return row['4th_Interview Date']
    else:
        return pd.NaT # Return "Not a Time" for unknown statuses

# --- Apply the Function ---
merged_cv_sent_status['Action Date'] = merged_cv_sent_status.apply(get_action_date, axis=1)

In [40]:
# Drop the N/A rows in the status
merged_cv_sent_status = merged_cv_sent_status[(merged_cv_sent_status.Status != 'N/A') & (merged_cv_sent_status.Status != 'Rejected')]

merged_cv_sent_status['Status'].value_counts()

Status
1st Interview    136
CV Sent          106
2nd Interview     87
3rd Interview     38
4th Interview     25
Name: count, dtype: int64

In [41]:
# Drop the support columns
merged_cv_sent_status = merged_cv_sent_status.drop(columns = ['Interview_1st', 'Interview_2nd', 'Interview_3rd', 'Interview_4th', 'Rejected', 'Offer', 
                                                              '1st_Interview Date', '2nd_Interview Date', '3rd_Interview Date', '4th_Interview Date'])

In [42]:
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
10,768,2025-11-25,Weronika Nazarko,Adaptive6,Senior Sales Engineer (US),Matthew Hughes,CV Sent,2025-11-25
12,777,2025-11-13,Brad Houston,Adaptive6,SE Director,Brendan Cox,2nd Interview,2025-12-08
13,777,2025-12-05,Brad Houston,Adaptive6,SE Director,Christopher Hoesly,CV Sent,2025-12-05
15,777,2025-11-27,Brad Houston,Adaptive6,SE Director,Hermann Hesse,1st Interview,2025-12-09
16,777,2025-11-05,Brad Houston,Adaptive6,SE Director,Itai Heller,4th Interview,2025-11-28
...,...,...,...,...,...,...,...,...
1870,765,2025-12-05,Sam Rudston,groundcover,SDR,Robbie Siefring,CV Sent,2025-12-05
1873,765,2025-12-03,Sam Rudston,groundcover,SDR,Sean Crowe,CV Sent,2025-12-03
1874,765,2025-11-20,Sam Rudston,groundcover,SDR,Tyler Drago,3rd Interview,2025-12-01
1875,810,2025-12-03,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Justin Beron,CV Sent,2025-12-03
1877,810,2025-11-21,Nick Chaplin,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Jeffrey Pereira,1st Interview,2025-11-27

In [43]:
display(merged_cv_sent_status[merged_cv_sent_status['Status'] == '4th Interview'])

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
16,777,2025-11-05,Brad Houston,Adaptive6,SE Director,Itai Heller,4th Interview,2025-11-28
85,739,2025-10-15,Samson Abodunrin,Axion Ray,BDR Manager (North East),Matt Henry,4th Interview,2025-11-19
115,559,NaT,Brad Houston,Balance,Enterprise Account Executive,Michael Diaz,4th Interview,2025-09-15
202,196,NaT,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),Sam Windfield,4th Interview,2025-09-13
388,669,2025-10-08,Brad Houston,Blockaid,Head of Marketing,Jeff Meisel,4th Interview,2025-11-18
703,702,2025-10-19,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Ciaran Deasy,4th Interview,2025-12-03
706,702,2025-10-24,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Michel Kiffel,4th Interview,2025-12-02
763,749,2025-11-11,Lilly Tyler,CyCognito,Enterprise AE New York,Brett Arpaia,4th Interview,2025-11-28
766,749,2025-11-13,Lilly Tyler,CyCognito,Enterprise AE New York,Katie Kupferschmid,4th Interview,2025-12-01
931,785,2025-10-28,Monie Rogers,Dash0,Commercial AE Amsterdam,Oskar Stepien,4th Interview,2025-11-21
1025,808,2025-11-21,Monie Rogers,Energy Robotics,Partner Manager (Houston),Ahmed Mirza,4th Interview,2025-12-02
1089,813,2025-11-21,Joe Marron,Laurel,Enterprise Account Executive UK x4,Dionys Gragousian,4th Interview,2025-12-11
1160,711,2025-11-05,James Cato,Loop,Delivery Transformation Lead (strat implementa...,Noel Thomas,4th Interview,2026-01-07
1225,751,2025-11-13,Jordan Goodenough,Materialize,CS3 Materialize - Enterprise Account Executive x3,Tiffany Cole,4th Interview,2025-12-04
1226,751,2025-11-13,Jordan Goodenough,Materialize,CS3 Materialize - Enterprise Account Executive x3,Todd Hixson,4th Interview,2025-12-01
1256,681,2025-10-29,Monie Rogers,Metaview,Metaview - UK MM / Enterprise AE,Federico Belluci,4th Interview,2025-11-28
1322,750,2025-11-05,Ben Clifton,Novee.io,Enterprise Account Executive (US),Rob Harvey,4th Interview,2025-12-04
1450,731,2025-11-05,Samson Abodunrin,Oscilar,Enterprise AE x5,Jason Fulwood,4th Interview,2025-11-23
1455,807,2025-11-14,Samson Abodunrin,Oscilar,SE Leader,Ray Mi,4th Interview,2025-12-04
1497,661,2025-09-10,James Whipp,PointFive,Channel & Alliances Director - UK,Edward Smart,4th Interview,2025-10-06
1532,776,2025-11-17,Monie Rogers,PointFive,Enterprise AE (EST),Daniel Smith,4th Interview,2025-12-08
1552,438,NaT,Brad Houston,Prime Security,Head of Marketing,Morgan Grandi,4th Interview,2025-10-16
1670,665,2025-10-26,Samson Abodunrin,Safe Security,Enterprise AE UK,Connor Newby,4th Interview,2025-11-07
1712,770,2025-11-11,Max Hogarth,TraceBit,Account Executive NYC,Ben Brighton,4th Interview,2025-12-01
1713,770,2025-11-11,Max Hogarth,TraceBit,Account Executive NYC,Ben Brighton,4th Interview,2025-12-04

In [44]:
display(merged_cv_sent_status[merged_cv_sent_status['Job ID'] == 707])

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
906,707,2025-11-25,Weronika Nazarko,Dash0,"Sales Engineer EMEA (UK, Nordics, Benelux, Ger...",Harry Kimpel,2nd Interview,2025-12-15
909,707,2025-11-27,Weronika Nazarko,Dash0,"Sales Engineer EMEA (UK, Nordics, Benelux, Ger...",Patrick Schrimpf,2nd Interview,2025-12-05

## Export the in-play candidates for the recruiters

In [45]:
owners_list = merged_cv_sent_status['Owner'].dropna().unique()

merged_cv_sent_status['Action Date'].dt.floor('d')

# Create a folder to keep things organised
output_folder = 'Consultant_Active_Reports'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [46]:
for owner in owners_list:
    # 1. Filter for this specific owner
    owner_data = merged_cv_sent_status[merged_cv_sent_status['Owner'] == owner].copy()
    
    # 2. Sort by Job ID (Ascending)
    owner_data = owner_data.sort_values(by='Job ID', ascending=True)
    
    # 3. Select clean columns for the consultant
    export_cols = ['Job ID', 'Company', 'Job Title', 'Candidate', 'Status']
    final_export = owner_data[export_cols]
    
    # 4. Define Filename (Clean the name to avoid file errors)
    clean_owner_name = str(owner).replace(" ", "_").replace("/", "-")
    filename = f"{output_folder}/Active_Candidates_{clean_owner_name}.csv"
    
    # 5. Export to csv
    final_export.to_csv(filename, index=False)
    
    print(f"Exported: {filename} ({len(final_export)} candidates)")

print("\n--- ALL EXPORTS COMPLETE ---")

Exported: Consultant_Active_Reports/Active_Candidates_Weronika_Nazarko.csv (21 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Brad_Houston.csv (36 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Max_Hogarth.csv (22 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ben_Clifton.csv (34 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Jordan_Goodenough.csv (26 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Monie_Rogers.csv (23 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Samson_Abodunrin.csv (39 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Joe_Marron.csv (35 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Renee-Sarah_Lewis.csv (4 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ada_Sitnik.csv (18 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Connor_Cook.csv (4 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Harry_Thornton.csv (8 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Cato.csv (28 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Nick_Chaplin.csv (13 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Whipp.csv (18 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Charlotte_Wells.csv (7 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Lilly_Tyler.csv (12 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Sam_Rudston.csv (21 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Georgia_Price.csv (5 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Annalisa_Girgenti.csv (10 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Gabriel_Inema.csv (8 candidates)

--- ALL EXPORTS COMPLETE ---