In [167]:
!pip install plotly

import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import os

# Set a clean, modern default theme for all our plots
pio.templates.default = "plotly_white"

print("Libraries imported successfully.")

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (6.4.0)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (2.12.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (25.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Libraries imported successfully.

## Import the Data (CVs Sent, 1st interview, Placements, Rejected)

### CVs Sent

In [278]:
# CV Sent dataset
cv_sents = pd.read_csv('CVs Sent (Last 30 Days).csv')

# First 5 rows
display(cv_sents.head())

,"﻿""Job ID""",Job Owner,Created Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Time to Send,CV Sent ID
0,196,Brad Houston,04/11/2025,Sam Rudston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Darrell Van Dyken,LinkedIn Message,440,4994
1,196,Brad Houston,04/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Madyson Almeida,Email & Text follow up,440,5009
2,196,Brad Houston,10/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Dennis Coombs,LinkedIn Recruiter Inmail,446,5106
3,196,Brad Houston,19/11/2025,Brad Houston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Brendan McMenimen,LinkedIn Recruiter Inmail,455,5230
4,196,Brad Houston,26/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Mike Gomez,Cold Call via Signalhire,462,5342

### 1st interviews

In [279]:
# Interviews dataset
first_interviews = pd.read_csv('1st Interviews (Last 30 Days).csv')

# First 5 rows
display(first_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,02/11/2025,02/11/2025,Ben Clifton,EMEA,Cognition AI,Enterprise Account Executive (US),NaN,Erik Abbott,NaN,Contingent,1st Interview,1st Interview,Email & Text follow up,Annalisa Girgenti,484,18866
1,02/11/2025,11/11/2025,Jordan Goodenough,EMEA,Cognition AI,CS2 Cognition AI - Enterprise Account Executiv...,Hot,Alek Demko,David Morse,Committed Spend,1st Interview,1st Interview,LinkedIn Message,PP Committed Spend Store - UK,710,18868
2,02/11/2025,04/11/2025,Joe Marron,EMEA,Axion Ray,Enterprise Account Executive (Central),Hot,Colin Roper,Bryan Dell,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Harry Thornton,741,18869
3,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Antithesis,Enterprise Account Executive - East,Hot,Ted O'Neill,Hao Guan,Contingent,1st Interview,1st Interview,Bullhorn,Samson Abodunrin,594,18872
4,03/11/2025,03/11/2025,James Cato,US,Rox,RVP Sales East,Hot,TYLER FERRIER,NaN,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,James Cato,725,18927

### 2nd interviews

In [280]:
# 2nd interviews dataset
second_interviews = pd.read_csv('2nd Interviews (Last 30 Days).csv')

# First 5 rows
display(second_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,Director of Enterprise Sales (US),Hot,Matthew Duignan,Neha Narkhede,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Harry Thornton,556,18870
1,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,BDR Manager - NYC,Hot,MINAS GREGORIADES,Neha Narkhede,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,596,18874
2,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,BDR Manager - NYC,Hot,Anthony Smyth,Neha Narkhede,Contingent,Further Interview,2nd Interview,Email & Text follow up,Samson Abodunrin,596,18873
3,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Safe Security,Enterprise AE UK,Hot,Connor Newby,Daniel Cuffley,Contingent,Further Interview,2nd Interview,Bullhorn,Samson Abodunrin,665,18876
4,02/11/2025,02/11/2025,James Whipp,EMEA,PointFive,Channel & Alliances Director - UK,Hot,ABRAR AHMED,NaN,Contingent,Further Interview,2nd Interview,Bullhorn,James Whipp,661,18875

### 3rd interviews

In [281]:
# Interviews dataset
third_interviews = pd.read_csv('3rd Interviews (Last 30 Days).csv')

# First 5 rows
display(third_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,Director of Enterprise Sales (US),Hot,Matthew Duignan,Neha Narkhede,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,Harry Thornton,556,18871
1,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Safe Security,Enterprise AE UK,Hot,Connor Newby,Daniel Cuffley,Contingent,Further Interview,3rd Interview,Bullhorn,Samson Abodunrin,665,18877
2,02/11/2025,02/11/2025,James Whipp,EMEA,PointFive,VP EMEA,Hot,Lewis Pinner,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Message,James Whipp,677,18879
3,02/11/2025,02/11/2025,James Whipp,EMEA,Capsa AI,Head of Sales,Hot,Tom Richardson,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Message,James Whipp,676,18881
4,02/11/2025,02/11/2025,James Whipp,EMEA,Cognition AI,Forward Deployed Engineer / Sales Engineer (Mi...,Warm,Louis Franc,NaN,Committed Spend,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,James Whipp,714,18884

### 4th interviews

In [282]:
# Interviews dataset
fourth_interviews = pd.read_csv('4th Interviews (Last 30 Days).csv')

# First 5 rows
display(fourth_interviews.tail())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
45,28/11/2025,28/11/2025,Brad Houston,EMEA,Adaptive6,SE Director,Hot,Itai Heller,Shahar Geffen,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Brad Houston,777,19813
46,28/11/2025,02/12/2025,James Whipp,EMEA,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Hot,Michel Kiffel,NaN,Committed Spend,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Harry Thornton,702,19819
47,28/11/2025,03/12/2025,James Whipp,EMEA,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Hot,Ciaran Deasy,David Morse,Committed Spend,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Harry Thornton,702,19820
48,01/12/2025,01/12/2025,Jordan Goodenough,EMEA,Materialize,CS3 Materialize - Enterprise Account Executive x3,Hot,Todd Hixson,Nate Stewart,Committed Spend,Further Interview,4th Interview,Bullhorn,PP Committed Spend Store - UK,751,19862
49,01/12/2025,01/12/2025,Lilly Tyler,EMEA,CyCognito,Enterprise AE New York,Hot,Katie Kupferschmid,NaN,Contingent,Further Interview,4th Interview,Bullhorn,Gabriel Inema,749,19864

### Rejected Candidates

In [283]:
# Rejects dataset
rejects = pd.read_csv('Rejected Candidates (Last 30 Days).csv')

rejects.rename(columns={'﻿"Job ID"' : 'Job ID'}, inplace=True)

rejects = rejects[['Job ID', 'Job Title', 'Owner', 'Company', 'Candidate']]

# First 5 rows
display(rejects.head())

# Last 5 rows
display(rejects.tail())

,Job ID,Job Title,Owner,Company,Candidate
0,196,Enterprise Account Executive (Fintech),Joe Marron,Blockaid,Wesley Wooten
1,196,Enterprise Account Executive (Fintech),Harry Thornton,Blockaid,STONE GODI
2,196,Enterprise Account Executive (Fintech),Max Hogarth,Blockaid,DEREK ORGERON
3,196,Enterprise Account Executive (Fintech),Ben Clifton,Blockaid,Carlos Torres
4,196,Enterprise Account Executive (Fintech),Max Hogarth,Blockaid,Nik Lulla

,Job ID,Job Title,Owner,Company,Candidate
408,812,People Operations Manager,Annalisa Girgenti,Oscilar,MIKAYLA KIM
409,812,People Operations Manager,Harry Thornton,Oscilar,Heather Guerra
410,814,Enterprise Account Executive Nordics,Lilly Tyler,Laurel,Mads Berli
411,815,Enterprise Account Executive UK,Jordan Goodenough,Conduct AI,David Perikhanyan
412,815,Enterprise Account Executive UK,Ben Clifton,Conduct AI,Jamie Summers

### Offers

In [284]:
# Offers dataset
offers = pd.read_csv('Offers (Last 30 Days).csv')

# First 5 rows
display(offers.head())

# Last 5 rows
display(offers.tail())

,"﻿""Created Date""",Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Job Owner,Job ID,Offer Outcome
0,02/11/2025,Jordan Goodenough,EMEA,Blockaid,CS2 - Blockaid - Enterprise Account Executive ...,NaN,Molly Holmes,Referral,Brad Houston,501,Offer Extended
1,03/11/2025,James Cato,US,Loop,Delivery Transformation Lead (strat implementa...,Hot,Tarang Patel,LinkedIn Recruiter Inmail,James Cato,711,Offer Extended
2,03/11/2025,Brad Houston,EMEA,Blockaid,CS2 - Blockaid - Threat Intelligence Analyst,Hot,Nick Steegmans,LinkedIn Recruiter Inmail,Brad Houston,728,Offer Extended
3,05/11/2025,Joe Marron,EMEA,Axion Ray,Enterprise Account Executive (West),Hot,Brendan Hanke,LinkedIn Recruiter Inmail,Harry Thornton,742,Offer Extended
4,05/11/2025,Nick Chaplin,EMEA,Dash0,SDR NYC x 3,Hot,Andrew Zeiser,Cold Call via Signalhire,Joe Marron,619,Offer Extended

,"﻿""Created Date""",Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Job Owner,Job ID,Offer Outcome
28,26/11/2025,Weronika Nazarko,EMEA,Redwood Software,SE UK,Hot,Andrew Rushworth,LinkedIn Recruiter Inmail,James Cato,673,Offer Extended
29,28/11/2025,Ben Clifton,EMEA,Axion Ray,Enterprise Account Executive (East),Hot,Cam Joyce,Email & Text follow up,Harry Thornton,740,Offer Extended
30,28/11/2025,Joe Marron,EMEA,LaunchDarkly,Enterprise Account Executive (Germany),Hot,Moritz Gross,LinkedIn Recruiter Inmail,Harry Thornton,746,Offer Extended
31,28/11/2025,Brad Houston,EMEA,Blockaid,RevOps Manager (NY),Warm,Kevin Venturino,Cold Call via Signalhire,Brad Houston,683,Offer Extended
32,30/11/2025,Nick Chaplin,EMEA,Energy Robotics,SDR Houston,Hot,Max Wilson,Sales Robot,Annalisa Girgenti,780,Offer Extended

## Re-structure the data, changing their fields

In [285]:
# Rename the Kpi Date columns to CV Sent Date, change that to datetime type
cv_sents.rename(columns={'Created Date' : 'CV Sent Date', '﻿"Job ID"' : 'Job ID'}, inplace=True)

# Change the CV Sent Date to datetime type
cv_sents['CV Sent Date'] = pd.to_datetime(cv_sents['CV Sent Date'], format='%d/%m/%Y')
cv_sents = cv_sents[['Job ID', 'CV Sent Date', 'Owner', 'Company', 'Job Title', 'Candidate']]

# Display the new dataset
cv_sents.head()

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate
0,196,2025-11-04,Sam Rudston,Blockaid,Enterprise Account Executive (Fintech),Darrell Van Dyken
1,196,2025-11-04,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Madyson Almeida
2,196,2025-11-10,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Dennis Coombs
3,196,2025-11-19,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),Brendan McMenimen
4,196,2025-11-26,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Mike Gomez

In [286]:
# Rename the Kpi Date columns to Interview Date, change that to datetime type
first_interviews.rename(columns={'Interview Date' : '1st_Interview Date'}, inplace=True)
second_interviews.rename(columns={'Interview Date' : '2nd_Interview Date'}, inplace=True)
third_interviews.rename(columns={'Interview Date' : '3rd_Interview Date'}, inplace=True)
fourth_interviews.rename(columns={'Interview Date' : '4th_Interview Date'}, inplace=True)

# Change the Create Date to datetime type
first_interviews['1st_Interview Date'] = pd.to_datetime(first_interviews['1st_Interview Date'], format='%d/%m/%Y')
first_interviews = first_interviews[['Job ID', 'Job Title', '1st_Interview Date', 'Owner', 'Company', 'Candidate']]

second_interviews['2nd_Interview Date'] = pd.to_datetime(second_interviews['2nd_Interview Date'], format='%d/%m/%Y')
second_interviews = second_interviews[['Job ID', 'Job Title', '2nd_Interview Date', 'Owner', 'Company', 'Candidate']]

third_interviews['3rd_Interview Date'] = pd.to_datetime(third_interviews['3rd_Interview Date'], format='%d/%m/%Y')
third_interviews = third_interviews[['Job ID', 'Job Title', '3rd_Interview Date', 'Owner', 'Company', 'Candidate']]

fourth_interviews['4th_Interview Date'] = pd.to_datetime(fourth_interviews['4th_Interview Date'], format='%d/%m/%Y')
fourth_interviews = fourth_interviews[['Job ID', 'Job Title', '4th_Interview Date', 'Owner', 'Company', 'Candidate']]

In [287]:
# Rename the Kpi Date columns to Offer Date, change that to datetime type
offers.rename(columns={'﻿"Created Date"' : 'Offer Date'}, inplace=True)

# Change the Create Date to datetime type
offers['Placement Date'] = pd.to_datetime(offers['Offer Date'], format='%d/%m/%Y')

# Change the columns for offers
offers = offers[['Job ID', 'Job Title', 'Owner', 'Company', 'Candidate']]

# Display the new dataset
offers.head()

,Job ID,Job Title,Owner,Company,Candidate
0,501,CS2 - Blockaid - Enterprise Account Executive ...,Jordan Goodenough,Blockaid,Molly Holmes
1,711,Delivery Transformation Lead (strat implementa...,James Cato,Loop,Tarang Patel
2,728,CS2 - Blockaid - Threat Intelligence Analyst,Brad Houston,Blockaid,Nick Steegmans
3,742,Enterprise Account Executive (West),Joe Marron,Axion Ray,Brendan Hanke
4,619,SDR NYC x 3,Nick Chaplin,Dash0,Andrew Zeiser

## Create a few helper columns to get the status of CVs Sent to Clients

In [288]:
# Apply helper columns to get the status of CVs
first_interviews['Interview_1st'] = True
second_interviews['Interview_2nd'] = True
third_interviews['Interview_3rd'] = True
fourth_interviews['Interview_4th'] = True
offers['Offer'] = True
rejects['Rejected'] = True

In [289]:
first_interviews.head()

,Job ID,Job Title,1st_Interview Date,Owner,Company,Candidate,Interview_1st
0,484,Enterprise Account Executive (US),2025-11-02,Ben Clifton,Cognition AI,Erik Abbott,True
1,710,CS2 Cognition AI - Enterprise Account Executiv...,2025-11-11,Jordan Goodenough,Cognition AI,Alek Demko,True
2,741,Enterprise Account Executive (Central),2025-11-04,Joe Marron,Axion Ray,Colin Roper,True
3,594,Enterprise Account Executive - East,2025-11-02,Samson Abodunrin,Antithesis,Ted O'Neill,True
4,725,RVP Sales East,2025-11-03,James Cato,Rox,TYLER FERRIER,True

### Merge the CV records with the interviews

In [290]:
# Merge the CV record with the 1st interview record
merged_cv_sent_status = cv_sents.merge(
    first_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the 2nd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    second_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the 3rd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    third_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the 4th interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    fourth_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the offers record
merged_cv_sent_status = merged_cv_sent_status.merge(
    offers,
    on=['Company','Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Merge the CV record with the rejected record
merged_cv_sent_status = merged_cv_sent_status.merge(
    rejects,
    on=['Company', 'Job ID', 'Owner', 'Candidate', 'Job Title'],
    how='outer'
)

# Print the final list
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected
0,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Dan Greer,2025-11-12,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
1,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Joe Troiani,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
2,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Justin Briody,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
3,768,2025-11-05,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Anthony Joanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
4,768,NaT,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Michael Daganhardt,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,765,2025-11-06,Sam Rudston,groundcover,SDR,Ryan Wandey,2025-11-11,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
725,765,NaT,Sam Rudston,groundcover,SDR,Sam Lefante,NaT,NaN,NaT,NaN,NaT,NaN,2025-11-10,True,True,NaN
726,765,2025-11-20,Sam Rudston,groundcover,SDR,Tyler Drago,2025-11-25,True,2025-11-28,True,2025-12-01,True,NaT,NaN,NaN,NaN
727,810,2025-11-13,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Nicholas Daileanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True
728,810,2025-11-21,Nick Chaplin,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Jeffrey Pereira,2025-11-27,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN

### Change the status of the candidates

In [291]:
# Create the conditions
conditions = [
    merged_cv_sent_status['Rejected'].notna()
    merged_cv_sent_status['Interview_4th'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Offer'].isna(),
    merged_cv_sent_status['Interview_3rd'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_4th'].isna(),
    merged_cv_sent_status['Interview_2nd'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_3rd'].isna(),
    merged_cv_sent_status['Interview_1st'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_2nd'].isna(),
    merged_cv_sent_status['Rejected'].isna() & merged_cv_sent_status['Interview_1st'].isna() & merged_cv_sent_status ['Offer'].isna()
]

# Create the choices (Interview = Converted, "Rejected = "Non-converted")
choices = [
    "Rejected",
    "4th Interview",
    "3rd Interview",
    "2nd Interview",
    "1st Interview",
    "CV Sent"
]

merged_cv_sent_status["Status"] = np.select(conditions, choices, default="N/A")

display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected,Status
0,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Dan Greer,2025-11-12,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
1,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Joe Troiani,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
2,767,NaT,Max Hogarth,Adaptive6,Enterprise Account Executive (US),Justin Briody,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
3,768,2025-11-05,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Anthony Joanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
4,768,NaT,Ada Sitnik,Adaptive6,Senior Sales Engineer (US),Michael Daganhardt,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,765,2025-11-06,Sam Rudston,groundcover,SDR,Ryan Wandey,2025-11-11,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
725,765,NaT,Sam Rudston,groundcover,SDR,Sam Lefante,NaT,NaN,NaT,NaN,NaT,NaN,2025-11-10,True,True,NaN,N/A
726,765,2025-11-20,Sam Rudston,groundcover,SDR,Tyler Drago,2025-11-25,True,2025-11-28,True,2025-12-01,True,NaT,NaN,NaN,NaN,3rd Interview
727,810,2025-11-13,Monie Rogers,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Nicholas Daileanes,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
728,810,2025-11-21,Nick Chaplin,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Jeffrey Pereira,2025-11-27,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview

In [292]:
display(merged_cv_sent_status[merged_cv_sent_status['Owner'] == 'James Whipp'])

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected,Status
170,676,NaT,James Whipp,Capsa AI,Head of Sales,Richard Sissons,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
171,676,NaT,James Whipp,Capsa AI,Head of Sales,Tom Richardson,NaT,NaN,2025-11-02,True,2025-11-02,True,NaT,NaN,NaN,True,Rejected
267,702,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Andrej Chomutovskij,2025-11-30,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
268,702,2025-11-04,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Arya Tandon,2025-11-04,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
269,702,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Boaz Francis,NaT,NaN,2025-11-02,True,NaT,NaN,NaT,NaN,NaN,True,Rejected
270,702,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Ciaran Deasy,NaT,NaN,2025-11-02,True,2025-11-23,True,2025-12-03,True,NaN,NaN,CV Sent
271,702,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Matija Bagi?,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
272,702,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Michel Kiffel,NaT,NaN,2025-11-23,True,2025-11-28,True,2025-12-02,True,NaN,NaN,CV Sent
273,702,2025-11-30,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (UK),Simone Malekar,2025-11-30,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
285,714,2025-11-22,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (Mi...,Aamer Mushtaq,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
286,714,2025-11-22,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (Mi...,Andrej Chomutovskij,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
287,714,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (Mi...,April Guo,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
288,714,2025-11-30,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (Mi...,JOSHUA TANNER,2025-11-30,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
289,714,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (Mi...,Louis Franc,NaT,NaN,NaT,NaN,2025-11-02,True,2025-11-02,True,NaN,True,Rejected
290,714,2025-11-22,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (Mi...,Oliver Waterman,2025-11-30,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
291,714,NaT,James Whipp,Cognition AI,Forward Deployed Engineer / Sales Engineer (Mi...,Thomas Alexander,NaT,NaN,2025-11-02,True,NaT,NaN,NaT,NaN,NaN,True,Rejected
420,760,NaT,James Whipp,Impala,Head of Sales (NA),Reed Cotterill,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
455,686,NaT,James Whipp,Loft Labs,VP CS & SE,Chris Johnson,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
456,686,2025-11-04,James Whipp,Loft Labs,VP CS & SE,Dan Henley,2025-11-04,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
457,686,NaT,James Whipp,Loft Labs,VP CS & SE,Jim Ray,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
458,686,2025-11-04,James Whipp,Loft Labs,VP CS & SE,Vinay Upadhya,2025-11-04,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
543,644,NaT,James Whipp,Orca Ai,VP of Global Sales,Fabrizio Ferraro,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,True,NaN,N/A
582,661,NaT,James Whipp,PointFive,Channel & Alliances Director - UK,ABRAR AHMED,NaT,NaN,2025-11-02,True,NaT,NaN,NaT,NaN,NaN,True,Rejected
584,677,2025-11-22,James Whipp,PointFive,VP EMEA,Jeff Ganon,2025-11-22,True,2025-11-27,True,NaT,NaN,NaT,NaN,NaN,NaN,2nd Interview
585,677,2025-11-22,James Whipp,PointFive,VP EMEA,Jeremy Perlman,2025-11-22,True,2025-12-02,True,NaT,NaN,NaT,NaN,NaN,NaN,2nd Interview
586,677,NaT,James Whipp,PointFive,VP EMEA,Lee Gordon,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected
587,677,NaT,James Whipp,PointFive,VP EMEA,Lewis Pinner,NaT,NaN,2025-11-02,True,2025-11-02,True,NaT,NaN,NaN,True,Rejected
588,677,2025-11-22,James Whipp,PointFive,VP EMEA,Patrick Wittenberg,2025-11-22,True,2025-11-23,True,2025-12-01,True,NaT,NaN,NaN,NaN,3rd Interview
589,677,2025-11-30,James Whipp,PointFive,VP EMEA,Peter Reeve,2025-11-30,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
590,677,NaT,James Whipp,PointFive,VP EMEA,Suki Randhawa,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,True,Rejected

### Add the column of Action Date - Interview/CV Sent Date

In [269]:
def get_action_date(row):
    status = row['Status']
    
    # Map status to the corresponding column name
    if status == 'CV Sent':
        return row['CV Sent Date']
    elif status == '1st Interview':
        return row['1st_Interview Date']
    elif status == '2nd Interview':
        return row['2nd_Interview Date']
    elif status == '3rd Interview':
        return row['3rd_Interview Date']
    elif status == '4th Interview':
        return row['4th_Interview Date']
    else:
        return pd.NaT # Return "Not a Time" for unknown statuses

# --- Apply the Function ---
merged_cv_sent_status['Action Date'] = merged_cv_sent_status.apply(get_action_date, axis=1)

In [270]:
# Drop the N/A rows in the status
merged_cv_sent_status = merged_cv_sent_status[(merged_cv_sent_status.Status != 'N/A') & (merged_cv_sent_status.Status != 'Rejected')]

merged_cv_sent_status['Status'].value_counts()

Status
1st Interview    113
CV Sent          101
2nd Interview     42
3rd Interview     19
4th Interview      8
Name: count, dtype: int64

In [271]:
# Drop the support columns
merged_cv_sent_status = merged_cv_sent_status.drop(columns = ['Interview_1st', 'Interview_2nd', 'Interview_3rd', 'Interview_4th', 'Rejected', 'Offer', 
                                                              '1st_Interview Date', '2nd_Interview Date', '3rd_Interview Date', '4th_Interview Date'])

In [272]:
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
7,768,2025-11-27,Weronika Nazarko,Adaptive6,Senior Sales Engineer (US),Artur Sirota,CV Sent,2025-11-27
9,768,2025-11-25,Weronika Nazarko,Adaptive6,Senior Sales Engineer (US),Matthew Hughes,CV Sent,2025-11-25
11,777,2025-11-13,Brad Houston,Adaptive6,SE Director,Brendan Cox,1st Interview,2025-11-17
13,777,2025-11-27,Brad Houston,Adaptive6,SE Director,Hermann Hesse,CV Sent,2025-11-27
14,777,2025-11-05,Brad Houston,Adaptive6,SE Director,Itai Heller,4th Interview,2025-11-28
...,...,...,...,...,...,...,...,...
711,610,2025-11-11,Nick Chaplin,WorkOS,Enterprise Account Executive San Fran x2,Matthew Lange,CV Sent,2025-11-11
719,765,2025-11-25,Sam Rudston,groundcover,SDR,Cesar Castillo,CV Sent,2025-11-25
722,765,2025-11-25,Sam Rudston,groundcover,SDR,JJ Valderrama,CV Sent,2025-11-25
726,765,2025-11-20,Sam Rudston,groundcover,SDR,Tyler Drago,3rd Interview,2025-12-01
728,810,2025-11-21,Nick Chaplin,groundcover,"Mid-Market AE (Observability in NYC, Boston, D...",Jeffrey Pereira,1st Interview,2025-11-27

In [273]:
display(merged_cv_sent_status[merged_cv_sent_status['Status'] == '4th Interview'])

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
14,777,2025-11-05,Brad Houston,Adaptive6,SE Director,Itai Heller,4th Interview,2025-11-28
308,749,2025-11-11,Lilly Tyler,CyCognito,Enterprise AE New York,Brett Arpaia,4th Interview,2025-11-28
311,749,2025-11-13,Lilly Tyler,CyCognito,Enterprise AE New York,Katie Kupferschmid,4th Interview,2025-12-01
359,785,NaT,Monie Rogers,Dash0,Commercial AE Amsterdam,Oskar Stepien,4th Interview,2025-11-21
470,711,2025-11-05,James Cato,Loop,Delivery Transformation Lead (strat implementa...,Noel Thomas,4th Interview,2026-01-07
513,751,2025-11-13,Jordan Goodenough,Materialize,CS3 Materialize - Enterprise Account Executive x3,Todd Hixson,4th Interview,2025-12-01
567,731,2025-11-05,Samson Abodunrin,Oscilar,Enterprise AE x5,Jason Fulwood,4th Interview,2025-11-23
679,770,2025-11-11,Max Hogarth,TraceBit,Account Executive NYC,Ben Brighton,4th Interview,2025-12-01

In [276]:
display(merged_cv_sent_status[merged_cv_sent_status['Job ID'] == 707])

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
343,707,2025-11-25,Weronika Nazarko,Dash0,"Sales Engineer EMEA (UK, Nordics, Benelux, Ger...",Harry Kimpel,1st Interview,2025-12-01
345,707,2025-11-27,Weronika Nazarko,Dash0,"Sales Engineer EMEA (UK, Nordics, Benelux, Ger...",Patrick Schrimpf,1st Interview,2025-12-02

## Export the in-play candidates for the recruiters

In [274]:
owners_list = merged_cv_sent_status['Owner'].dropna().unique()

merged_cv_sent_status['Action Date'].dt.floor('d')

# Create a folder to keep things organised
output_folder = 'Consultant_Active_Reports'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [275]:
for owner in owners_list:
    # 1. Filter for this specific owner
    owner_data = merged_cv_sent_status[merged_cv_sent_status['Owner'] == owner].copy()
    
    # 2. Sort by Job ID (Ascending)
    owner_data = owner_data.sort_values(by='Job ID', ascending=True)
    
    # 3. Select clean columns for the consultant
    export_cols = ['Job ID', 'Company', 'Job Title', 'Candidate', 'Status', 'Action Date']
    final_export = owner_data[export_cols]
    
    # 4. Define Filename (Clean the name to avoid file errors)
    clean_owner_name = str(owner).replace(" ", "_").replace("/", "-")
    filename = f"{output_folder}/Active_Candidates_{clean_owner_name}.xlsx"
    
    # 5. Export to Excel
    final_export.to_excel(filename, index=False)
    
    print(f"Exported: {filename} ({len(final_export)} candidates)")

print("\n--- ALL EXPORTS COMPLETE ---")

Exported: Consultant_Active_Reports/Active_Candidates_Weronika_Nazarko.xlsx (27 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Brad_Houston.xlsx (23 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Jordan_Goodenough.xlsx (20 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Max_Hogarth.xlsx (15 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ben_Clifton.xlsx (28 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Gabriel_Inema.xlsx (3 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Monie_Rogers.xlsx (20 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Samson_Abodunrin.xlsx (26 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Joe_Marron.xlsx (26 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Sam_Rudston.xlsx (12 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ada_Sitnik.xlsx (11 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Harry_Thornton.xlsx (7 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Nick_Chaplin.xlsx (13 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Cato.xlsx (15 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Whipp.xlsx (12 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Charlotte_Wells.xlsx (8 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Lilly_Tyler.xlsx (7 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Georgia_Price.xlsx (5 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Annalisa_Girgenti.xlsx (4 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Connor_Cook.xlsx (1 candidates)

--- ALL EXPORTS COMPLETE ---