In [122]:
!pip install plotly

import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
import os

# Set a clean, modern default theme for all our plots
pio.templates.default = "plotly_white"

print("Libraries imported successfully.")

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (6.4.0)
Requirement already satisfied: narwhals>=1.15.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (2.12.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from plotly) (25.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip
Libraries imported successfully.

## Import the Data (CVs Sent, 1st interview, Placements, Rejected)

### CVs Sent

In [143]:
# CV Sent dataset
cv_sents = pd.read_csv('CVs Sent (This Month).csv')

# First 5 rows
display(cv_sents.head())

,"﻿""Job ID""",Job Owner,Created Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Time to Send,CV Sent ID
0,196,Brad Houston,04/11/2025,Sam Rudston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Darrell Van Dyken,LinkedIn Message,440,4994
1,196,Brad Houston,04/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Madyson Almeida,Email & Text follow up,440,5009
2,196,Brad Houston,10/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Dennis Coombs,LinkedIn Recruiter Inmail,446,5106
3,196,Brad Houston,19/11/2025,Brad Houston,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Brendan McMenimen,LinkedIn Recruiter Inmail,455,5230
4,196,Brad Houston,26/11/2025,Ben Clifton,EMEA,Blockaid,Enterprise Account Executive (Fintech),NaN,Mike Gomez,Cold Call via Signalhire,462,5342

### 1st interviews

In [144]:
# Interviews dataset
first_interviews = pd.read_csv('1st Interviews (This Month).csv')

# First 5 rows
display(first_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,01/11/2025,07/11/2025,Weronika Nazarko,EMEA,Dash0,Sales Engineer (US) x 3,Hot,Rajeev Govindan,Mirko Novakovic,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Harry Thornton,708,18862
1,02/11/2025,02/11/2025,Ben Clifton,EMEA,Cognition AI,Enterprise Account Executive (US),NaN,Erik Abbott,NaN,Contingent,1st Interview,1st Interview,Email & Text follow up,Annalisa Girgenti,484,18866
2,02/11/2025,11/11/2025,Jordan Goodenough,EMEA,Cognition AI,CS2 Cognition AI - Enterprise Account Executiv...,Hot,Alek Demko,David Morse,Committed Spend,1st Interview,1st Interview,LinkedIn Message,PP Committed Spend Store - UK,710,18868
3,02/11/2025,04/11/2025,Joe Marron,EMEA,Axion Ray,Enterprise Account Executive (Central),Hot,Colin Roper,Bryan Dell,Contingent,1st Interview,1st Interview,LinkedIn Recruiter Inmail,Harry Thornton,741,18869
4,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Antithesis,Enterprise Account Executive - East,Hot,Ted O'Neill,Hao Guan,Contingent,1st Interview,1st Interview,Bullhorn,Samson Abodunrin,594,18872

### 2nd interviews

In [145]:
# 2nd interviews dataset
second_interviews = pd.read_csv('2nd Interviews (This Month).csv')

# First 5 rows
display(second_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,Director of Enterprise Sales (US),Hot,Matthew Duignan,Neha Narkhede,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Harry Thornton,556,18870
1,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,BDR Manager - NYC,Hot,MINAS GREGORIADES,Neha Narkhede,Contingent,Further Interview,2nd Interview,LinkedIn Recruiter Inmail,Samson Abodunrin,596,18874
2,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,BDR Manager - NYC,Hot,Anthony Smyth,Neha Narkhede,Contingent,Further Interview,2nd Interview,Email & Text follow up,Samson Abodunrin,596,18873
3,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Safe Security,Enterprise AE UK,Hot,Connor Newby,Daniel Cuffley,Contingent,Further Interview,2nd Interview,Bullhorn,Samson Abodunrin,665,18876
4,02/11/2025,02/11/2025,James Whipp,EMEA,PointFive,Channel & Alliances Director - UK,Hot,ABRAR AHMED,NaN,Contingent,Further Interview,2nd Interview,Bullhorn,James Whipp,661,18875

### 3rd interviews

In [146]:
# Interviews dataset
third_interviews = pd.read_csv('3rd Interviews (This Month).csv')

# First 5 rows
display(third_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,01/11/2025,04/11/2025,Weronika Nazarko,EMEA,Redwood Software,SE UK,Hot,Nicholas Vlatko,Nick Totero,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,James Cato,673,18863
1,01/11/2025,03/11/2025,Weronika Nazarko,EMEA,Redwood Software,SE UK,Hot,Andrew Rushworth,Nick Totero,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,James Cato,673,18864
2,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Oscilar,Director of Enterprise Sales (US),Hot,Matthew Duignan,Neha Narkhede,Contingent,Further Interview,3rd Interview,LinkedIn Recruiter Inmail,Harry Thornton,556,18871
3,02/11/2025,02/11/2025,Samson Abodunrin,EMEA,Safe Security,Enterprise AE UK,Hot,Connor Newby,Daniel Cuffley,Contingent,Further Interview,3rd Interview,Bullhorn,Samson Abodunrin,665,18877
4,02/11/2025,02/11/2025,James Whipp,EMEA,PointFive,VP EMEA,Hot,Lewis Pinner,NaN,Contingent,Further Interview,3rd Interview,LinkedIn Message,James Whipp,677,18879

### 4th interviews

In [147]:
# Interviews dataset
fourth_interviews = pd.read_csv('4th Interviews (This Month).csv')

# First 5 rows
display(fourth_interviews.head())

,"﻿""Created Date""",Interview Date,Owner,Group,Company,Job Title,Job Priority,Candidate,Client Contact,Job Type,Interview Type,CRM Interview Type,Source,Job Owner,Job ID,Interview ID
0,02/11/2025,02/11/2025,James Whipp,EMEA,Cognition AI,Forward Deployed Engineer / Sales Engineer (Mi...,Warm,Louis Franc,NaN,Committed Spend,Further Interview,4th Interview,LinkedIn Recruiter Inmail,James Whipp,714,18885
1,03/11/2025,03/11/2025,James Cato,US,Loop,Delivery Transformation Lead (strat implementa...,Hot,Tarang Patel,NaN,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,James Cato,711,18944
2,03/11/2025,03/11/2025,Monie Rogers,EMEA,Mabl,UK AE,Hot,Ashwin Thakur,NaN,Contingent,Further Interview,4th Interview,LinkedIn Message,James Cato,651,18901
3,03/11/2025,03/11/2025,Brad Houston,EMEA,Blockaid,CS2 - Blockaid - Threat Intelligence Analyst,Hot,Nick Steegmans,Glenn Rachlin,Committed Spend,Further Interview,4th Interview,LinkedIn Recruiter Inmail,Brad Houston,728,18906
4,03/11/2025,03/11/2025,Ada Sitnik,EMEA,PointFive,PointFive SE EST,Hot,Max Sullivan,NaN,Contingent,Further Interview,4th Interview,LinkedIn Recruiter Inmail,James Whipp,730,18923

### Rejected Candidates

In [148]:
# Rejects dataset
rejects = pd.read_csv('Rejected Candidates (This Month).csv')

rejects.rename(columns={'﻿"Job ID"' : 'Job ID'}, inplace=True)

rejects = rejects[['Job ID', 'Owner', 'Company', 'Candidate']]

# First 5 rows
display(rejects.head())

# Last 5 rows
display(rejects.tail())

   Job ID           Owner   Company      Candidate
0     196      Joe Marron  Blockaid  Wesley Wooten
1     196  Harry Thornton  Blockaid     STONE GODI
2     196     Max Hogarth  Blockaid  DEREK ORGERON
3     196     Ben Clifton  Blockaid  Carlos Torres
4     196     Max Hogarth  Blockaid      Nik Lulla

     Job ID              Owner     Company          Candidate
398     812  Annalisa Girgenti     Oscilar      Nancy Fonseca
399     812  Annalisa Girgenti     Oscilar        MIKAYLA KIM
400     812     Harry Thornton     Oscilar     Heather Guerra
401     815  Jordan Goodenough  Conduct AI  David Perikhanyan
402     815        Ben Clifton  Conduct AI      Jamie Summers

### Offers

In [149]:
# Offers dataset
offers = pd.read_csv('Offers (This Month).csv')

# First 5 rows
display(offers.head())

# Last 5 rows
display(offers.tail())

,"﻿""Created Date""",Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Job Owner,Job ID,Offer Outcome
0,02/11/2025,Jordan Goodenough,EMEA,Blockaid,CS2 - Blockaid - Enterprise Account Executive ...,NaN,Molly Holmes,Referral,Brad Houston,501,Offer Extended
1,03/11/2025,James Cato,US,Loop,Delivery Transformation Lead (strat implementa...,Hot,Tarang Patel,LinkedIn Recruiter Inmail,James Cato,711,Offer Extended
2,03/11/2025,Brad Houston,EMEA,Blockaid,CS2 - Blockaid - Threat Intelligence Analyst,Hot,Nick Steegmans,LinkedIn Recruiter Inmail,Brad Houston,728,Offer Extended
3,05/11/2025,Joe Marron,EMEA,Axion Ray,Enterprise Account Executive (West),Hot,Brendan Hanke,LinkedIn Recruiter Inmail,Harry Thornton,742,Offer Extended
4,05/11/2025,Nick Chaplin,EMEA,Dash0,SDR NYC x 3,Hot,Andrew Zeiser,Cold Call via Signalhire,Joe Marron,619,Offer Extended

,"﻿""Created Date""",Owner,Group,Company,Job Title,Job Priority,Candidate,Source,Job Owner,Job ID,Offer Outcome
27,25/11/2025,Ada Sitnik,EMEA,Dash0,Sales Engineer (US) x 3,Hot,Sean Peterkin,Bullhorn,Harry Thornton,708,Offer Extended
28,26/11/2025,Weronika Nazarko,EMEA,Redwood Software,SE UK,Hot,Andrew Rushworth,LinkedIn Recruiter Inmail,James Cato,673,Offer Extended
29,28/11/2025,Ben Clifton,EMEA,Axion Ray,Enterprise Account Executive (East),Hot,Cam Joyce,Email & Text follow up,Harry Thornton,740,Offer Extended
30,28/11/2025,Joe Marron,EMEA,LaunchDarkly,Enterprise Account Executive (Germany),Hot,Moritz Gross,LinkedIn Recruiter Inmail,Harry Thornton,746,Offer Extended
31,28/11/2025,Brad Houston,EMEA,Blockaid,RevOps Manager (NY),Warm,Kevin Venturino,Cold Call via Signalhire,Brad Houston,683,Offer Extended

## Re-structure the data, changing their fields

In [150]:
# Rename the Kpi Date columns to CV Sent Date, change that to datetime type
cv_sents.rename(columns={'Created Date' : 'CV Sent Date', '﻿"Job ID"' : 'Job ID'}, inplace=True)

# Change the CV Sent Date to datetime type
cv_sents['CV Sent Date'] = pd.to_datetime(cv_sents['CV Sent Date'], format='%d/%m/%Y')
cv_sents = cv_sents[['Job ID', 'CV Sent Date', 'Owner', 'Company', 'Job Title', 'Candidate']]

# Display the new dataset
cv_sents.head()

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate
0,196,2025-11-04,Sam Rudston,Blockaid,Enterprise Account Executive (Fintech),Darrell Van Dyken
1,196,2025-11-04,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Madyson Almeida
2,196,2025-11-10,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Dennis Coombs
3,196,2025-11-19,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),Brendan McMenimen
4,196,2025-11-26,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Mike Gomez

In [151]:
# Rename the Kpi Date columns to Interview Date, change that to datetime type
first_interviews.rename(columns={'Interview Date' : '1st_Interview Date'}, inplace=True)
second_interviews.rename(columns={'Interview Date' : '2nd_Interview Date'}, inplace=True)
third_interviews.rename(columns={'Interview Date' : '3rd_Interview Date'}, inplace=True)
fourth_interviews.rename(columns={'Interview Date' : '4th_Interview Date'}, inplace=True)

# Change the Create Date to datetime type
first_interviews['1st_Interview Date'] = pd.to_datetime(first_interviews['1st_Interview Date'], format='%d/%m/%Y')
first_interviews = first_interviews[['Job ID', '1st_Interview Date', 'Owner', 'Company', 'Candidate']]

second_interviews['2nd_Interview Date'] = pd.to_datetime(second_interviews['2nd_Interview Date'], format='%d/%m/%Y')
second_interviews = second_interviews[['Job ID', '2nd_Interview Date', 'Owner', 'Company', 'Candidate']]

third_interviews['3rd_Interview Date'] = pd.to_datetime(third_interviews['3rd_Interview Date'], format='%d/%m/%Y')
third_interviews = third_interviews[['Job ID', '3rd_Interview Date', 'Owner', 'Company', 'Candidate']]

fourth_interviews['4th_Interview Date'] = pd.to_datetime(fourth_interviews['4th_Interview Date'], format='%d/%m/%Y')
fourth_interviews = fourth_interviews[['Job ID', '4th_Interview Date', 'Owner', 'Company', 'Candidate']]

In [152]:
# Rename the Kpi Date columns to Offer Date, change that to datetime type
offers.rename(columns={'﻿"Created Date"' : 'Offer Date'}, inplace=True)

# Change the Create Date to datetime type
offers['Placement Date'] = pd.to_datetime(offers['Offer Date'], format='%d/%m/%Y')

# Change the columns for offers
offers = offers[['Job ID', 'Owner', 'Company', 'Candidate']]

# Display the new dataset
offers.head()

   Job ID              Owner    Company       Candidate
0     501  Jordan Goodenough   Blockaid    Molly Holmes
1     711         James Cato       Loop    Tarang Patel
2     728       Brad Houston   Blockaid  Nick Steegmans
3     742         Joe Marron  Axion Ray   Brendan Hanke
4     619       Nick Chaplin      Dash0   Andrew Zeiser

## Create a few helper columns to get the status of CVs Sent to Clients

In [153]:
# Apply helper columns to get the status of CVs
first_interviews['Interview_1st'] = True
second_interviews['Interview_2nd'] = True
third_interviews['Interview_3rd'] = True
fourth_interviews['Interview_4th'] = True
offers['Offer'] = True
rejects['Rejected'] = True

In [154]:
first_interviews.head()

,Job ID,1st_Interview Date,Owner,Company,Candidate,Interview_1st
0,708,2025-11-07,Weronika Nazarko,Dash0,Rajeev Govindan,True
1,484,2025-11-02,Ben Clifton,Cognition AI,Erik Abbott,True
2,710,2025-11-11,Jordan Goodenough,Cognition AI,Alek Demko,True
3,741,2025-11-04,Joe Marron,Axion Ray,Colin Roper,True
4,594,2025-11-02,Samson Abodunrin,Antithesis,Ted O'Neill,True

### Merge the CV records with the interviews

In [155]:
# Merge the CV record with the 1st interview record
merged_cv_sent_status = cv_sents.merge(
    first_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate'],
    how='left'
)

# Merge the CV record with the 2nd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    second_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate'],
    how='left'
)

# Merge the CV record with the 3rd interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    third_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate'],
    how='left'
)

# Merge the CV record with the 4th interview record
merged_cv_sent_status = merged_cv_sent_status.merge(
    fourth_interviews,
    on=['Company','Job ID', 'Owner', 'Candidate'],
    how='left'
)

# Merge the CV record with the offers record
merged_cv_sent_status = merged_cv_sent_status.merge(
    offers,
    on=['Company','Job ID', 'Owner', 'Candidate'],
    how='left'
)

# Merge the CV record with the rejected record
merged_cv_sent_status = merged_cv_sent_status.merge(
    rejects,
    on=['Company', 'Job ID', 'Owner', 'Candidate'],
    how='left'
)

# Print the final list
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected
0,196,2025-11-04,Sam Rudston,Blockaid,Enterprise Account Executive (Fintech),Darrell Van Dyken,2025-11-10,True,2025-11-14,True,NaT,NaN,NaT,NaN,NaN,NaN
1,196,2025-11-04,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Madyson Almeida,2025-11-12,True,2025-12-03,True,NaT,NaN,NaT,NaN,NaN,NaN
2,196,2025-11-10,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Dennis Coombs,2025-11-16,True,2025-12-01,True,NaT,NaN,NaT,NaN,NaN,NaN
3,196,2025-11-19,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),Brendan McMenimen,2025-11-24,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
4,196,2025-11-26,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Mike Gomez,2025-12-01,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,833,2025-11-26,Joe Marron,Blockaid,SDR Manager,Branden Bilicki,2025-12-04,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
398,833,2025-11-26,Samson Abodunrin,Blockaid,SDR Manager,Tae Kim,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
399,834,2025-11-26,Brad Houston,Blockaid,Regional Director US,Greg Hilsenrath,2025-12-05,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
400,834,2025-11-26,Max Hogarth,Blockaid,Regional Director US,Jeff White,2025-12-08,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN
401,834,2025-11-26,Brad Houston,Blockaid,Regional Director US,Jon Webster,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN

### Change the status of the candidates

In [156]:
# Create the conditions
conditions = [
    merged_cv_sent_status['Rejected'].isna() & merged_cv_sent_status['Interview_1st'].isna(),
    merged_cv_sent_status['Interview_1st'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_2nd'].isna(),
    merged_cv_sent_status['Interview_2nd'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_3rd'].isna(),
    merged_cv_sent_status['Interview_3rd'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Interview_4th'].isna(),
    merged_cv_sent_status['Interview_4th'].notna() & merged_cv_sent_status ['Rejected'].isna() & merged_cv_sent_status ['Offer'].isna(),
    merged_cv_sent_status['Rejected'].notna()
]

# Create the choices (Interview = Converted, "Rejected = "Non-converted")
choices = [
    "CV Sent",
    "1st Interview",
    "2nd Interview",
    "3rd Interview",
    "4th Interview",
    "Rejected"
]

merged_cv_sent_status["Status"] = np.select(conditions, choices, default="N/A")

display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,1st_Interview Date,Interview_1st,2nd_Interview Date,Interview_2nd,3rd_Interview Date,Interview_3rd,4th_Interview Date,Interview_4th,Offer,Rejected,Status
0,196,2025-11-04,Sam Rudston,Blockaid,Enterprise Account Executive (Fintech),Darrell Van Dyken,2025-11-10,True,2025-11-14,True,NaT,NaN,NaT,NaN,NaN,NaN,2nd Interview
1,196,2025-11-04,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Madyson Almeida,2025-11-12,True,2025-12-03,True,NaT,NaN,NaT,NaN,NaN,NaN,2nd Interview
2,196,2025-11-10,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Dennis Coombs,2025-11-16,True,2025-12-01,True,NaT,NaN,NaT,NaN,NaN,NaN,2nd Interview
3,196,2025-11-19,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),Brendan McMenimen,2025-11-24,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
4,196,2025-11-26,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Mike Gomez,2025-12-01,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,833,2025-11-26,Joe Marron,Blockaid,SDR Manager,Branden Bilicki,2025-12-04,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
398,833,2025-11-26,Samson Abodunrin,Blockaid,SDR Manager,Tae Kim,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent
399,834,2025-11-26,Brad Houston,Blockaid,Regional Director US,Greg Hilsenrath,2025-12-05,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
400,834,2025-11-26,Max Hogarth,Blockaid,Regional Director US,Jeff White,2025-12-08,True,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,1st Interview
401,834,2025-11-26,Brad Houston,Blockaid,Regional Director US,Jon Webster,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,CV Sent

### Add the column of Action Date - Interview/CV Sent Date

In [157]:
def get_action_date(row):
    status = row['Status']
    
    # Map status to the corresponding column name
    if status == 'CV Sent':
        return row['CV Sent Date']
    elif status == '1st Interview':
        return row['1st_Interview Date']
    elif status == '2nd Interview':
        return row['2nd_Interview Date']
    elif status == '3rd Interview':
        return row['3rd_Interview Date']
    elif status == '4th Interview':
        return row['4th_Interview Date']
    else:
        return pd.NaT # Return "Not a Time" for unknown statuses

# --- Apply the Function ---
merged_cv_sent_status['Action Date'] = merged_cv_sent_status.apply(get_action_date, axis=1)

In [158]:
# Drop the N/A rows in the status
merged_cv_sent_status = merged_cv_sent_status[(merged_cv_sent_status.Status != 'N/A') & (merged_cv_sent_status.Status != 'Rejected')]

merged_cv_sent_status['Status'].value_counts()

Status
1st Interview    97
CV Sent          95
2nd Interview    38
3rd Interview    18
4th Interview     5
Name: count, dtype: int64

In [159]:
# Drop the support columns
merged_cv_sent_status = merged_cv_sent_status.drop(columns = ['Interview_1st', 'Interview_2nd', 'Interview_3rd', 'Interview_4th', 'Rejected', 'Offer', 
                                                              '1st_Interview Date', '2nd_Interview Date', '3rd_Interview Date', '4th_Interview Date'])

In [160]:
display(merged_cv_sent_status)

,Job ID,CV Sent Date,Owner,Company,Job Title,Candidate,Status,Action Date
0,196,2025-11-04,Sam Rudston,Blockaid,Enterprise Account Executive (Fintech),Darrell Van Dyken,2nd Interview,2025-11-14
1,196,2025-11-04,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Madyson Almeida,2nd Interview,2025-12-03
2,196,2025-11-10,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Dennis Coombs,2nd Interview,2025-12-01
3,196,2025-11-19,Brad Houston,Blockaid,Enterprise Account Executive (Fintech),Brendan McMenimen,1st Interview,2025-11-24
4,196,2025-11-26,Ben Clifton,Blockaid,Enterprise Account Executive (Fintech),Mike Gomez,1st Interview,2025-12-01
...,...,...,...,...,...,...,...,...
397,833,2025-11-26,Joe Marron,Blockaid,SDR Manager,Branden Bilicki,1st Interview,2025-12-04
398,833,2025-11-26,Samson Abodunrin,Blockaid,SDR Manager,Tae Kim,CV Sent,2025-11-26
399,834,2025-11-26,Brad Houston,Blockaid,Regional Director US,Greg Hilsenrath,1st Interview,2025-12-05
400,834,2025-11-26,Max Hogarth,Blockaid,Regional Director US,Jeff White,1st Interview,2025-12-08
401,834,2025-11-26,Brad Houston,Blockaid,Regional Director US,Jon Webster,CV Sent,2025-11-26

## Export the in-play candidates for the recruiters

In [165]:
owners_list = merged_cv_sent_status['Owner'].dropna().unique()

merged_cv_sent_status['Action Date'].dt.floor('d')

# Create a folder to keep things organised
output_folder = 'Consultant_Active_Reports'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [166]:
for owner in owners_list:
    # 1. Filter for this specific owner
    owner_data = merged_cv_sent_status[merged_cv_sent_status['Owner'] == owner].copy()
    
    # 2. Sort by Job ID (Ascending)
    owner_data = owner_data.sort_values(by='Job ID', ascending=True)
    
    # 3. Select clean columns for the consultant
    export_cols = ['Job ID', 'Company', 'Job Title', 'Candidate', 'Status', 'Action Date']
    final_export = owner_data[export_cols]
    
    # 4. Define Filename (Clean the name to avoid file errors)
    clean_owner_name = str(owner).replace(" ", "_").replace("/", "-")
    filename = f"{output_folder}/Active_Candidates_{clean_owner_name}.xlsx"
    
    # 5. Export to Excel
    final_export.to_excel(filename, index=False)
    
    print(f"Exported: {filename} ({len(final_export)} candidates)")

print("\n--- ALL EXPORTS COMPLETE ---")

Exported: Consultant_Active_Reports/Active_Candidates_Sam_Rudston.xlsx (13 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ben_Clifton.xlsx (26 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Brad_Houston.xlsx (20 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Ada_Sitnik.xlsx (10 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Charlotte_Wells.xlsx (8 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Jordan_Goodenough.xlsx (17 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Gabriel_Inema.xlsx (3 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Max_Hogarth.xlsx (15 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Weronika_Nazarko.xlsx (25 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Samson_Abodunrin.xlsx (22 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Monie_Rogers.xlsx (18 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Nick_Chaplin.xlsx (11 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Lilly_Tyler.xlsx (8 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Whipp.xlsx (6 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Georgia_Price.xlsx (5 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Joe_Marron.xlsx (22 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Harry_Thornton.xlsx (7 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_James_Cato.xlsx (13 candidates)
Exported: Consultant_Active_Reports/Active_Candidates_Annalisa_Girgenti.xlsx (4 candidates)

--- ALL EXPORTS COMPLETE ---